{{ if isset .Site.Params "pricingfaqs" }}
{{ if .Site.Params.pricingfaqs.enable }}
<a id="faq"></a>
<section class="bar background-white no-mb">
    <div class="row">
        <div class="col-md-12">
            <div class="heading">
                <h3 class="h3">Frequently Asked Questions</h3>
            </div>
            {{ if gt (len .Site.Data.pricingfaqs) 0 }}
                {{ range $index, $element := sort .Site.Data.pricingfaqs "weight" }}
                <div class="row mb-small">
                    <div class="col-md-12">
                        <h4>{{ $element.question | markdownify }}</h4>
                        <div class="text-large">
                            {{ $element.answer | markdownify }}
                        </div>
                        {{ if $element.alert }}
                        <br/>
                        <div class="alert alert-{{ $element.alertClass }}">
                            {{ $element.alert | markdownify }}
                        </div>
                        {{ end }}
                    </div>
                </div>
                {{ end }}
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
{{ end }}