<a name="packages"></a>
<section class="bar background-white no-mb" style="padding-top: 0px">
    <div class="row">
        <div class="col-md-12">
            <div class="heading">
                <h3>Packages</h3>
            </div>
            <p class="lead">
                Our <strong class="text-primary">Community Edition</strong> is free and fully DIY.
                If you're looking to get started quickly, we recommend the
                <strong class="text-primary">Self-Hosted</strong> option.
                If you'd prefer a fully managed experience, join the waitlist for our upcoming
                <strong class="text-primary">Cloud Hosting</strong> solution.
            </p>
            <div class="row packages">
                <div class="col-md-4">
                    <div class="package">
                        <div class="package-header light-gray">
                            <h5>Community Edition</h5>
                            <div class="meta-text text-small">Free Forever</div>
                        </div>
                        <div class="price-container d-flex align-items-end justify-content-center">
                            <div class="h3">
                                $0 License<sup class="text-small">1</sup>
                                <div class="text-small">Self-Hosted on-premise or cloud</div>
                            </div>
                        </div>
                        <div class="text-muted text-small text-italic">Recommended for Superusers <br/>
                            who want <u>complete control</u>.</div>
                        <ul class="list-unstyled">
                            <li></li>
                            <li class="text-secondary"><i class="fa fa-minus"></i> Cloud Hosting</li>
                            <li class="text-secondary"><i class="fa fa-minus"></i> SSL / HTTPS</li>
                            <li class="text-secondary"><i class="fa fa-minus"></i> Installation</li>
                            <li class="text-secondary"><i class="fa fa-minus"></i> Configuration</li>
                            <li class="text-secondary"><i class="fa fa-minus"></i> Data Migration</li>
                            <li class="text-secondary"><i class="fa fa-minus"></i> Server Management <i class="fa fa-info-circle text-muted" data-toggle="tooltip" title="Includes server monitoring, automatic backups, and software updates."></i></li>
                            <li class="text-secondary"><i class="fa fa-minus"></i> Email Delivery <i class="fa fa-info-circle text-muted" data-toggle="tooltip" title="SMTP service for shipment notifications, stockout warnings, expiry alerts, and other transactional emails."></i></li>
                            <li class="text-success"><i class="fa fa-check"></i> Community Support</li>
                            <li>
                                <a href="https://docs.openboxes.com/en/develop/" class="btn btn-template-primary btn-block">Get Started</a>
                            </li>
                            <li class="text-small">
                                Community-supported
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="best-value">
                        <div class="package">
                            <div class="package-header">
                                <h5>Self-Hosted</h5>
                                <div class="meta-text text-small">Most Popular</div>
                            </div>
                            <div class="price-container d-flex align-items-end justify-content-center">
                                <div class="h3">
                                    Starting at $24/mo<sup class="text-small">2</sup>
                                    <div class="text-small">Self-Hosted with DigitalOcean</div>
                                </div>
                            </div>
                            <div class="text-muted text-small text-italic">Recommended for tech-savvy businesses <br/>
                                who want an <u>easy deployment option</u>.
                            </div>
                            <ul class="list-style-none">
                                <li></li>
                                <li class="text-success"><i class="fa fa-check"></i> Cloud Hosting</li>
                                <li class="text-success"><i class="fa fa-check"></i> SSL / HTTPS</li>
                                <li class="text-success"><i class="fa fa-check"></i> Installation</li>
                                <li class="text-primary"><i class="fa fa-plus"></i> Configuration</li>
                                <li class="text-primary"><i class="fa fa-plus"></i> Data Migration</li>
                                <li class="text-primary"><i class="fa fa-plus"></i> Server Management <i class="fa fa-info-circle text-muted" data-toggle="tooltip" title="Includes server monitoring, automatic backups, and software updates."></i></li>
                                <li class="text-primary"><i class="fa fa-plus"></i> Email Delivery <i class="fa fa-info-circle text-muted" data-toggle="tooltip" title="SMTP service for shipment notifications, stockout warnings, expiry alerts, and other transactional emails."></i></li>
                                <li class="text-primary"><i class="fa fa-plus"></i> Dedicated Support <i class="fa fa-info-circle text-muted" data-toggle="tooltip" title="Add Standard, Business, or Enterprise support for guaranteed SLAs, email, live chat, and phone support."></i></li>
                                <li>
                                    {{ if .Site.Params.digitalocean.enable }}
                                    <a target="_blank" href="{{ .Site.Params.digitalocean.deploy_url }}" class="btn btn-template-primary btn-block"
                                       onclick="gtag('event', 'deploy_click', {'event_category': 'digitalocean', 'event_label': 'packages'});">Deploy Now</a>
                                    {{ else }}
                                    <a href="#" class="btn btn-template-primary btn-block" data-toggle="modal" data-target="#deploy-unavailable"
                                       onclick="gtag('event', 'deploy_click_unavailable', {'event_category': 'digitalocean', 'event_label': 'packages'});">Deploy Now</a>
                                    {{ end }}
                                </li>
                                <li class="text-small">
                                    Powered by <a href="{{ .Site.Params.digitalocean.marketplace_url }}" target="_blank">DigitalOcean</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="package">
                        <div class="package-header light-gray">
                            <h5>Cloud Hosting</h5>
                            <div class="meta-text text-small">Coming Soon</div>
                        </div>
                        <div class="price-container d-flex align-items-end justify-content-center">
                            <div class="h3">
                                Starting at $149/mo<sup class="text-small">3</sup>
                                <div class="text-small">Fully managed by OpenBoxes</div>
                            </div>
                        </div>
                        <div class="text-muted text-small text-italic">
                            Recommended for organizations <br/>
                            who want a <u>turnkey solution</u>.
                        </div>
                        <ul class="list-style-none">
                            <li></li>
                            <li class="text-success"><i class="fa fa-check"></i> Cloud Hosting</li>
                            <li class="text-success"><i class="fa fa-check"></i> SSL / HTTPS</li>
                            <li class="text-success"><i class="fa fa-check"></i> Installation</li>
                            <li class="text-primary"><i class="fa fa-plus"></i> Configuration</li>
                            <li class="text-primary"><i class="fa fa-plus"></i> Data Migration</li>
                            <li class="text-success"><i class="fa fa-check"></i> Server Management <i class="fa fa-info-circle text-muted" data-toggle="tooltip" title="Includes server monitoring, automatic backups, and software updates."></i></li>
                            <li class="text-success"><i class="fa fa-check"></i> Email Delivery <i class="fa fa-info-circle text-muted" data-toggle="tooltip" title="SMTP service for shipment notifications, stockout warnings, expiry alerts, and other transactional emails."></i></li>
                            <li class="text-success"><i class="fa fa-check"></i> Basic Support <i class="fa fa-info-circle text-muted" data-toggle="tooltip" title="Email-based support with 48-hour response time included. Upgrade to Standard, Business, or Enterprise for faster SLAs."></i></li>
                            <li>
                                <a href="/waitlist" class="btn btn-template-primary btn-block">Join Waitlist</a>
                            </li>
                            <li class="text-small">
                                Powered by OpenBoxes
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-4">
                    <ul class="list-group">
                        <div class="list-group-item active">
                            <h6 class="list-group-item-heading text-uppercase">Key</h6>
                        </div>
                        <p class="list-group-item"><span class="text-success"><i class="fa fa-check"></i> included in package</span></p>
                        <p class="list-group-item"><span class="text-primary"><i class="fa fa-plus"></i> available as an add-on</span></p>
                        <p class="list-group-item"><span class="text-secondary"><i class="fa fa-minus"></i> you handle it yourself (DIY)</span></p>
                    </ul>
                </div>
                <div class="col-md-8">
                    <ul class="list-group">
                        <div class="list-group-item active">
                            <h6 class="list-group-item-heading text-uppercase">Notes</h6>
                        </div>
                        <li class="list-group-item text-small">All services (i.e. Installation, Development, Implementation) are available as add-ons (discounts available for long-term engagements).
                            See <a href="/pricing/#services">Services</a> section for more info.</li>
                        <li class="list-group-item text-small"><sup>1</sup> OpenBoxes is free to download and use, but nothing is really ever free. Unless you plan to install OpenBoxes on your personal
                            laptop, you'll have costs associated with operating the software. Read <a href="/cost-analysis">Total Cost of Ownership</a> to better understand the costs associated with
                            any software system you plan to adopt.
                        </li>
                        <li class="list-group-item text-small"><sup>2</sup> Paid to DigitalOcean. The actual cost will be based on the options you choose on the Create Droplets page.
                        </li>
                        <li class="list-group-item text-small"><sup>3</sup> Cloud Hosting is currently in development. Pricing will depend on the number of users, storage, and
                            support level. Join the waitlist to be notified when it's available and to help us shape the offering.
                        </li>
                        <li class="list-group-item text-small"><sup>4</sup> On-Premise implementations are available as an add-on for any package. In addition, we can configure
                            a network of on-premise servers to sync with a parent cloud server in case of Internet outages. Ask us about our On-Premise implementation plan when requesting a quote.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Deploy Unavailable Modal -->
<div class="modal fade" id="deploy-unavailable" tabindex="-1" role="dialog" aria-labelledby="deploy-unavailable-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deploy-unavailable-label">
                    <i class="fa fa-cloud text-primary"></i> DigitalOcean Deployment
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" style="padding: 30px;">
                <div class="text-center" style="margin-bottom: 20px;">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-clock-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h5 style="margin-top: 10px;">Coming Soon</h5>
                    <p class="text-muted">Our DigitalOcean 1-Click App is currently under review<br/> and will be available shortly.</p>
                </div>
                <hr/>
                <p><strong>In the meantime, you can:</strong></p>
                <div class="list-group">
                    <a href="https://docs.openboxes.com/en/develop/" class="list-group-item list-group-item-action">
                        <i class="fa fa-wrench text-primary"></i>&nbsp; Install OpenBoxes manually on any server
                    </a>
                    <a href="/waitlist" class="list-group-item list-group-item-action">
                        <i class="fa fa-cloud text-primary"></i>&nbsp; Join the Cloud Hosting waitlist
                    </a>
                    <a href="https://calendly.com/openboxes/discussion" class="list-group-item list-group-item-action">
                        <i class="fa fa-calendar text-primary"></i>&nbsp; Schedule a discussion with our team
                    </a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-template-main" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
