<a name="packages"></a>
<section class="bar background-white no-mb" style="padding-top: 0px">
    <div class="row">
        <div class="col-md-12">
            <div class="heading">
                <h3>Packages</h3>
            </div>
            <p class="lead">
                If you're looking to get started as quickly as possible, we recommend the
                <strong class="text-primary">Self-Hosted</strong> option.
                If you'd prefer a fully managed experience, join the waitlist for our upcoming
                <strong class="text-primary">Cloud Hosting</strong> solution.
            </p>
            <div class="row packages">
                <div class="col-md-4">
                    <div class="best-value">
                        <div class="package">
                            <div class="package-header">
                                <h5>Open-Source</h5>
                                <div class="meta-text text-small">Free Forever</div>
                            </div>
                        <div class="price-container d-flex align-items-end justify-content-center">
                            <div class="h3">
                                $0 License<sup class="text-small">1</sup>
                                <div class="text-small">Self-Hosted on-premise or cloud</div>
                            </div>
                        </div>
                        <div class="text-muted text-small text-italic">Recommended for Superusers <br/>
                            who want <u>complete control</u>.</div>
                        <ul class="list-unstyled">
                            <li></li>
                            <li class="text-secondary"><i class="fa fa-minus"></i> Cloud Hosting</li>
                            <li class="text-secondary"><i class="fa fa-minus"></i> On-Premise</li>
                            <li class="text-secondary"><i class="fa fa-minus"></i> SSL / HTTPS</li>
                            <li class="text-secondary"><i class="fa fa-minus"></i> Installation</li>
                            <li class="text-secondary"><i class="fa fa-minus"></i> Configuration</li>
                            <li class="text-secondary"><i class="fa fa-minus"></i> Data Migration</li>
                            <li class="text-secondary"><i class="fa fa-minus"></i> Server Management <i class="fa fa-info-circle text-muted" data-toggle="tooltip" title="Includes server monitoring, automatic backups, and software updates."></i></li>
                            <li class="text-secondary"><i class="fa fa-minus"></i> Email Delivery <i class="fa fa-info-circle text-muted" data-toggle="tooltip" title="SMTP service for shipment notifications, stockout warnings, expiry alerts, and other transactional emails."></i></li>
                            <li class="text-danger"><i class="fa fa-times"></i> Excludes Support</li>
                            <li>
                                <a href="https://docs.openboxes.com/en/develop/" class="btn btn-template-primary btn-block">Get Started</a>
                            </li>
                            <li class="text-small">
                                Powered by you
                            </li>
                        </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="best-value">
                        <div class="package">
                            <div class="package-header">
                                <h5>Self-Hosted</h5>
                                <div class="meta-text text-small">Most Popular</div>
                            </div>
                            <div class="price-container d-flex align-items-end justify-content-center">
                                <div class="h3">
                                    Starting at $24/mo<sup class="text-small">2</sup>
                                    <div class="text-small">Self-Hosted with DigitalOcean</div>
                                </div>
                            </div>
                            <div class="text-muted text-small text-italic">Recommended for tech-savvy businesses <br/>
                                who want an <u>easy deployment option</u>.
                            </div>
                            <ul class="list-style-none">
                                <li></li>
                                <li class="text-success"><i class="fa fa-check"></i> Cloud Hosting</li>
                                <li class="text-danger"><i class="fa fa-times"></i> On-Premise</li>
                                <li class="text-success"><i class="fa fa-check"></i> SSL / HTTPS</li>
                                <li class="text-success"><i class="fa fa-check"></i> Installation</li>
                                <li class="text-primary"><i class="fa fa-plus"></i> Configuration</li>
                                <li class="text-primary"><i class="fa fa-plus"></i> Data Migration</li>
                                <li class="text-primary"><i class="fa fa-plus"></i> Server Management <i class="fa fa-info-circle text-muted" data-toggle="tooltip" title="Includes server monitoring, automatic backups, and software updates."></i></li>
                                <li class="text-primary"><i class="fa fa-plus"></i> Email Delivery <i class="fa fa-info-circle text-muted" data-toggle="tooltip" title="SMTP service for shipment notifications, stockout warnings, expiry alerts, and other transactional emails."></i></li>
                                <li class="text-danger"><i class="fa fa-times"></i> Excludes Support</li>
                                <li>
                                    <a target="_blank" href="https://marketplace.digitalocean.com/apps/openboxes-server?refcode=da4712a483b4&action=deploy" class="btn btn-template-primary btn-block">Create Droplet</a>
                                </li>
                                <li class="text-small">
                                    Powered by <a href="https://marketplace.digitalocean.com/apps/openboxes-server" target="_blank">DigitalOcean</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="best-value">
                        <div class="package">
                            <div class="package-header">
                                <h5>Cloud Hosting</h5>
                                <div class="meta-text text-small">Coming Soon</div>
                            </div>
                        <div class="price-container d-flex align-items-end justify-content-center">
                            <div class="h3">
                                Starting at $149/mo<sup class="text-small">3</sup>
                                <div class="text-small">Fully managed by OpenBoxes</div>
                            </div>
                        </div>
                        <div class="text-muted text-small text-italic">
                            Recommended for organizations <br/>
                            who want a <u>turnkey solution</u>.
                        </div>
                        <ul class="list-style-none">
                            <li></li>
                            <li class="text-success"><i class="fa fa-check"></i> Cloud Hosting</li>
                            <li class="text-primary"><i class="fa fa-plus"></i> On-Premise<sup>4</sup></li>
                            <li class="text-success"><i class="fa fa-check"></i> SSL / HTTPS</li>
                            <li class="text-success"><i class="fa fa-check"></i> Installation</li>
                            <li class="text-primary"><i class="fa fa-plus"></i> Configuration</li>
                            <li class="text-primary"><i class="fa fa-plus"></i> Data Migration</li>
                            <li class="text-success"><i class="fa fa-check"></i> Server Management <i class="fa fa-info-circle text-muted" data-toggle="tooltip" title="Includes server monitoring, automatic backups, and software updates."></i></li>
                            <li class="text-success"><i class="fa fa-check"></i> Email Delivery <i class="fa fa-info-circle text-muted" data-toggle="tooltip" title="SMTP service for shipment notifications, stockout warnings, expiry alerts, and other transactional emails."></i></li>
                            <li class="text-primary"><i class="fa fa-plus"></i> Support</li>
                            <li>
                                <a href="/waitlist" class="btn btn-template-primary btn-block">Join Waitlist</a>
                            </li>
                            <li class="text-small">
                                Powered by OpenBoxes
                            </li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-4">
                    <ul class="list-group">
                        <div class="list-group-item active">
                            <h6 class="list-group-item-heading text-uppercase">Key</h6>
                        </div>
                        <p class="list-group-item"><span class="text-secondary"><i class="fa fa-minus"></i> indicates a service that you provide on your own</span></p>
                        <p class="list-group-item"><span class="text-danger"><i class="fa fa-times"></i> indicates a service not included in package</span></p>
                        <p class="list-group-item"><span class="text-success"><i class="fa fa-check"></i> indicates a service included in package</span></p>
                        <p class="list-group-item"><span class="text-primary"><i class="fa fa-plus"></i> indicates a service available as an add-on</span></p>
                    </ul>
                </div>
                <div class="col-md-8">
                    <ul class="list-group">
                        <div class="list-group-item active">
                            <h6 class="list-group-item-heading text-uppercase">Notes</h6>
                        </div>
                        <li class="list-group-item text-small">All services (i.e. Installation, Development, Implementation) are available as add-ons (discounts available for long-term engagements).
                            See <a href="/pricing/#services">Services</a> section for more info.</li>
                        <li class="list-group-item text-small"><sup>1</sup> OpenBoxes is free to download and use, but nothing is really ever free. Unless you plan to install OpenBoxes on your personal
                            laptop, you'll have costs associated with operating the software. Read <a href="/cost-analysis">Total Cost of Ownership</a> to better understand the costs associated with
                            any software system you plan to adopt.
                        </li>
                        <li class="list-group-item text-small"><sup>2</sup> Paid to DigitalOcean. The actual cost will be based on the options you choose on the Create Droplets page.
                        </li>
                        <li class="list-group-item text-small"><sup>3</sup> Cloud Hosting is currently in development. Pricing will depend on the number of users, storage, and
                            support level. Join the waitlist to be notified when it's available and to help us shape the offering.
                        </li>
                        <li class="list-group-item text-small"><sup>4</sup> On-Premise implementations are available as an add-on for any package. In addition, we can configure
                            a network of on-premise servers to sync with a parent cloud server in case of Internet outages. Ask us about our On-Premise implementation plan when requesting a quote.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
