<a name="support"></a>
<section class="bar background-white padding-big">
    <div class="row">
        <div class="col-md-12">
            <div class="heading">
                <h3>Support Plans</h3>
            </div>
            <p class="lead">
                Our <a href="https://community.openboxes.com">Community-driven support</a> will always be free.
                The following plans are for organizations who need a guaranteed service level agreement.
            </p>

            <div class="table-wrapper">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="col-md-1"></th>
                        <th class="col-md-2"></th>
                        <th class="col-md-3 text-center">
                            <div class="text-uppercase text-wrap">Standard</div>
                        </th>
                        <th class="col-md-3 text-center">
                            <div class="text-uppercase text-wrap">Enterprise</div>
                        </th>
                        <th class="col-md-3 text-center">
                            <div class="text-uppercase text-wrap">Custom</div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="border-top">
                        <td rowspan="5">General</td>
                        <td class="col-md-2">Monthly Cost</td>
                        <td class="text-center">
                            <div class="text-uppercase"><b>$299</b> <span class="text-small">per month</span></div>
                        </td>
                        <td class="text-center">
                            <div class="text-uppercase"><b>$999</b> <span class="text-small">per month</span></div>
                        </td>
                        <td class="text-center">
                            <div class="text-uppercase"><b>Contact Us</b> </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">Annual Cost</td>
                        <td class="col-md-3 text-center">
                            <div class="text-uppercase"><b>$3,000</b> <span class="text-small">per year</span></div>
                            <span class="text-small text-italic">($588 savings)</span>
                        </td>
                        <td class="col-md-3 text-center">
                            <div class="text-uppercase"><b>$10,000</b> <span class="text-small">per year</span></div>
                            <span class="text-small text-italic">($1198 savings)</span>
                        </td>
                        <td class="col-md-3 text-center text-middle">
                            <div class="text-uppercase"><b>Contact Us</b> </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">Availability</td>
                        <td class="col-md-3 text-center">
                            <div class="text-default">9am - 5pm EST</div>
                            <div class="text-small">Monday - Friday</div>
                        </td>
                        <td class="col-md-3 text-center">
                            <div class="text-default">9am - 5pm EST</div>
                            <div class="text-small">Monday - Friday</div>
                        </td>
                        <td class="col-md-3 text-center text-middle">
                            <div class="text-default">
                                Negotiable
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">Minimum Term</td>
                        <td class="col-md-3 text-center">
                            <div class="text-default">6 Months</div>
                        </td>
                        <td class="col-md-3 text-center">
                            <div class="text-default">3 Months</div>
                        </td>
                        <td class="col-md-3 text-center text-middle">
                            <div class="text-default">Negotiable</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">Language</td>
                        <td class="col-md-3 text-center">
                            English
                        </td>
                        <td class="col-md-3 text-center">
                            English
                        </td>
                        <td class="col-md-3 text-center text-middle">
                            Negotiable
                        </td>
                    </tr>
                    <tr class="border-top">
                        <td rowspan="3">Response Times</td>
                        <td class="col-md-2">High Priority</td>
                        <td class="col-md-3 text-center">< 4 Hours</td>
                        <td class="col-md-3 text-center">< 1 Hours</td>
                        <td class="col-md-3 text-center">Negotiable</td>
                    </tr>
                    <tr>
                        <td class="col-md-2">Medium Priority</td>
                        <td class="col-md-3 text-center">Next Business Day</td>
                        <td class="col-md-3 text-center">< 4 Hours</td>
                        <td class="col-md-3 text-center">Negotiable</td>
                    </tr>
                    <tr>
                        <td class="col-md-2">Low Priority</td>
                        <td class="col-md-3 text-center">Next Business Day</td>
                        <td class="col-md-3 text-center">< 12 Hours</td>
                        <td class="col-md-3 text-center">Negotiable</td>
                    </tr>
                    <tr class="border-top">
                        <td rowspan="4">Channels</td>
                        <td class="col-md-2">Forum</td>
                        <td class="col-md-3 text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                        <td class="col-md-3 text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                        <td class="col-md-3 text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                    </tr>
                    <tr>
                        <td class="col-md-2">In-App Chat</td>
                        <td class="col-md-3 text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                        <td class="col-md-3 text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                        <td class="col-md-3 text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                    </tr>
                    <tr>
                        <td class="col-md-2">Email</td>
                        <td class="col-md-3 text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                        <td class="col-md-3 text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                        <td class="col-md-3 text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                    </tr>
                    <tr>
                        <td class="col-md-2">Phone</td>
                        <td class="col-md-3 text-center"><div class="text-danger"><i class="fa fa-times"></i> </div></td>
                        <td class="col-md-3 text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                        <td class="col-md-3 text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                    </tr>

                    <tr class="border-top">
                        <td rowspan="3">Upgrades</td>
                        <td class="col-md-2">Major Releases</td>
                        <td class="col-md-3 text-center"><div class="text-success"><i class="fa fa-check"></i></div></td>
                        <td class="col-md-3 text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                        <td class="col-md-3 text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                    </tr>
                    <tr>
                        <td class="col-md-2">Minor Releases</td>
                        <td class="col-md-3 text-center"><div class="text-danger"><i class="fa fa-times"></i> </div></td>
                        <td class="col-md-3 text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                        <td class="col-md-3 text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                    </tr>
                    <tr>
                        <td class="col-md-2">Hotfix Releases</td>
                        <td class="col-md-3 text-center"><div class="text-danger"><i class="fa fa-times"></i> </div></td>
                        <td class="col-md-3 text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                        <td class="col-md-3 text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                    </tr>

                    <tr class="border-top">
                        <td rowspan="5">Included</td>
                        <td class="col-md-2">Troubleshooting</td>
                        <td class="col-md-3 text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                        <td class="col-md-3 text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                        <td class="col-md-3 text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                    </tr>
                    <tr>
                        <td class="col-md-2">Priority Bug Fixes</td>
                        <td class="col-md-3 text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                        <td class="col-md-3 text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                        <td class="col-md-3 text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                    </tr>
                    <tr>
                        <td class="col-md-2">Server Monitoring</td>
                        <td class="col-md-3 text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                        <td class="col-md-3 text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                        <td class="col-md-3 text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                    </tr>
                    <tr>
                        <td class="col-md-2">Server Maintenance</td>
                        <td class="col-md-3 text-center"><div class="text-danger"><i class="fa fa-times"></i> </div></td>
                        <td class="col-md-3 text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                        <td class="col-md-3 text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                    </tr>
                    <tr>
                        <td class="col-md-2">Custom Development</td>
                        <td class="col-md-3 text-center"><div class="text-danger"><i class="fa fa-times"></i> </div></td>
                        <td class="col-md-3 text-center"><div class="text-danger"><i class="fa fa-times"></i> </div></td>
                        <td class="col-md-3 text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="col-md-3 text-center">
                            <a href="/signup?support=standard" class="btn btn-template-main btn-block">Sign up</a>
                        </td>
                        <td class="col-md-3 text-center">
                            <a href="/signup?support=business" class="btn btn-template-main btn-block">Sign up</a>
                        </td>
                        <td class="col-md-3">
                            <a href="/quote?support=enterprise" class="btn btn-template-main btn-block">Request Quote</a>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</section>