<a name="support"></a>
<section class="bar background-white padding-big">
    <div class="row">
        <div class="col-md-12">
            <div class="heading">
                <h3>Support Plans</h3>
            </div>
            <p class="lead">
                Our <a href="https://community.openboxes.com">Community-driven support</a> will always be free.
                <strong class="text-primary">Basic</strong> support is included with Cloud Hosting.
                The paid plans below are for organizations who need a guaranteed service level agreement.
            </p>

            <div class="table-wrapper">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th></th>
                        <th class="text-center">
                            <div class="text-uppercase text-wrap">Community</div>
                        </th>
                        <th class="text-center">
                            <div class="text-uppercase text-wrap">Basic</div>
                        </th>
                        <th class="text-center">
                            <div class="text-uppercase text-wrap">Standard</div>
                        </th>
                        <th class="text-center">
                            <div class="text-uppercase text-wrap">Business</div>
                        </th>
                        <th class="text-center">
                            <div class="text-uppercase text-wrap">Enterprise</div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="border-top">
                        <td colspan="6"><strong>General</strong></td>
                    </tr>
                    <tr>
                        <td>Monthly Cost</td>
                        <td class="text-center">
                            <div class="text-uppercase"><b>Free</b></div>
                        </td>
                        <td class="text-center">
                            <div class="text-uppercase"><b>Included</b></div>
                            <span class="text-small text-italic">with Cloud Hosting</span>
                        </td>
                        <td class="text-center">
                            <div class="text-uppercase"><b>$499</b> <span class="text-small">per month</span></div>
                        </td>
                        <td class="text-center">
                            <div class="text-uppercase"><b>$1,499</b> <span class="text-small">per month</span></div>
                        </td>
                        <td class="text-center">
                            <div class="text-uppercase"><b>Contact Us</b></div>
                        </td>
                    </tr>
                    <tr>
                        <td>Annual Cost</td>
                        <td class="text-center">
                            <div class="text-uppercase"><b>Free</b></div>
                        </td>
                        <td class="text-center">
                            <div class="text-uppercase"><b>Included</b></div>
                            <span class="text-small text-italic">with Cloud Hosting</span>
                        </td>
                        <td class="text-center">
                            <div class="text-uppercase"><b>$4,990</b> <span class="text-small">per year</span></div>
                            <span class="text-small text-italic">($998 savings)</span>
                        </td>
                        <td class="text-center">
                            <div class="text-uppercase"><b>$14,990</b> <span class="text-small">per year</span></div>
                            <span class="text-small text-italic">($2,998 savings)</span>
                        </td>
                        <td class="text-center">
                            <div class="text-uppercase"><b>Contact Us</b></div>
                        </td>
                    </tr>
                    <tr>
                        <td>Availability</td>
                        <td class="text-center">
                            <div class="text-default">Best Effort</div>
                        </td>
                        <td class="text-center">
                            <div class="text-default">9am - 5pm</div>
                            <div class="text-small">Monday - Friday</div>
                        </td>
                        <td class="text-center">
                            <div class="text-default">9am - 5pm</div>
                            <div class="text-small">Monday - Friday</div>
                        </td>
                        <td class="text-center">
                            <div class="text-default">7am - 9pm</div>
                            <div class="text-small">Monday - Friday</div>
                        </td>
                        <td class="text-center">
                            <div class="text-default">24x7</div>
                            <div class="text-small">Including Holidays</div>
                        </td>
                    </tr>
                    <tr>
                        <td>Language</td>
                        <td class="text-center">
                            <div class="text-default">English</div>
                        </td>
                        <td class="text-center">
                            <div class="text-default">English</div>
                        </td>
                        <td class="text-center">
                            <div class="text-default">English</div>
                        </td>
                        <td class="text-center">
                            <div class="text-default">English</div>
                        </td>
                        <td class="text-center">
                            <div class="text-default">Negotiable</div>
                        </td>
                    </tr>
                    <tr>
                        <td>Minimum Term</td>
                        <td class="text-center">
                            <div class="text-default">None</div>
                        </td>
                        <td class="text-center">
                            <div class="text-default">None</div>
                        </td>
                        <td class="text-center">
                            <div class="text-default">12 Months</div>
                        </td>
                        <td class="text-center">
                            <div class="text-default">12 Months</div>
                        </td>
                        <td class="text-center">
                            <div class="text-default">12 Months</div>
                        </td>
                    </tr>
                    <tr class="border-top">
                        <td colspan="6"><strong>Response Times</strong></td>
                    </tr>
                    <tr>
                        <td>High Priority</td>
                        <td class="text-center">No SLA</td>
                        <td class="text-center">&lt; 48 Hours</td>
                        <td class="text-center">&lt; 8 Hours</td>
                        <td class="text-center">&lt; 2 Hours</td>
                        <td class="text-center">&lt; 15 Minutes</td>
                    </tr>
                    <tr>
                        <td>Medium Priority</td>
                        <td class="text-center">No SLA</td>
                        <td class="text-center">&lt; 72 Hours</td>
                        <td class="text-center">&lt; 24 Hours</td>
                        <td class="text-center">&lt; 8 Hours</td>
                        <td class="text-center">&lt; 1 Hour</td>
                    </tr>
                    <tr>
                        <td>Low Priority</td>
                        <td class="text-center">No SLA</td>
                        <td class="text-center">&lt; 1 Week</td>
                        <td class="text-center">&lt; 48 Hours</td>
                        <td class="text-center">&lt; 24 Hours</td>
                        <td class="text-center">&lt; 4 Hours</td>
                    </tr>
                    <tr class="border-top">
                        <td colspan="6"><strong>Channels</strong></td>
                    </tr>
                    <tr>
                        <td><a href="https://community.openboxes.com">Community Forum</a></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i></div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i></div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i></div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i></div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i></div></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i></div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i></div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i></div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i></div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i></div></td>
                    </tr>
                    <tr>
                        <td>Live Chat</td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i></div></td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i></div></td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i></div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i></div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i></div></td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i></div></td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i></div></td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i></div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i></div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i></div></td>
                    </tr>
                    <tr>
                        <td>Video Call</td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i></div></td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i></div></td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i></div></td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i></div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i></div></td>
                    </tr>

                    <tr class="border-top">
                        <td colspan="6"><strong>Upgrades</strong></td>
                    </tr>
                    <tr>
                        <td>Release Notifications</td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i></div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i></div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i></div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i></div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i></div></td>
                    </tr>
                    <tr>
                        <td>Managed Upgrades</td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i></div></td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i></div></td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i></div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i></div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i></div></td>
                    </tr>

                    <tr class="border-top">
                        <td colspan="6"><strong>Included</strong></td>
                    </tr>
                    <tr>
                        <td>Troubleshooting</td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i></div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i></div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i></div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i></div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i></div></td>
                    </tr>
                    <tr>
                        <td>Priority Bug Fixes</td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i></div></td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i></div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i></div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i></div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i></div></td>
                    </tr>
                    <tr>
                        <td>Server Monitoring</td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i></div></td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i></div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i></div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i></div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i></div></td>
                    </tr>
                    <tr>
                        <td>Server Maintenance</td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i></div></td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i></div></td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i></div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i></div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i></div></td>
                    </tr>
                    <tr>
                        <td>Custom Development</td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i></div></td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i></div></td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i></div></td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i></div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i></div></td>
                    </tr>
                    <tr>
                        <td>Dedicated Account Manager</td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i></div></td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i></div></td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i></div></td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i></div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i></div></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td></td>
                        <td class="text-center">
                            <a href="https://community.openboxes.com" class="btn btn-template-main btn-block">Join Forum</a>
                        </td>
                        <td class="text-center">
                            <a href="#" class="btn btn-template-main btn-block" data-toggle="modal" data-target="#waitlist-modal">Join Waitlist</a>
                        </td>
                        <td class="text-center">
                            <a href="/signup?support=standard" class="btn btn-template-main btn-block">Sign up</a>
                        </td>
                        <td class="text-center">
                            <a href="/signup?support=business" class="btn btn-template-main btn-block">Sign up</a>
                        </td>
                        <td class="text-center">
                            <a href="/signup?support=enterprise" class="btn btn-template-main btn-block">Sign up</a>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</section>
