<a name="support"></a>
<section class="bar background-white padding-big">
    <div class="row">
        <div class="col-md-12">
            <div class="heading">
                <h3>Support Plans</h3>
            </div>
            <p class="lead">
                Our <a href="https://community.openboxes.com">Community-driven support</a> will always be free.
                The following plans are for organizations who need a guaranteed service level agreement.
            </p>

            <div class="table-wrapper">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="col-md-1"></th>
                        <th class="col-md-2"></th>
                        <th class="col-md-2 text-center">
                            <div class="text-uppercase text-wrap">Community</div>
                        </th>
                        <th class="col-md-2 text-center">
                            <div class="text-uppercase text-wrap">Standard</div>
                        </th>
                        <th class="col-md-2 text-center">
                            <div class="text-uppercase text-wrap">Business</div>
                        </th>
                        <th class="col-md-2 text-center">
                            <div class="text-uppercase text-wrap">Enterprise</div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="border-top">
                        <td rowspan="5">General</td>
                        <td class="col-md-2">Monthly Cost</td>
                        <td class="text-center">
                            <div class="text-uppercase"><b>Free</b></div>
                        </td>
                        <td class="text-center">
                            <div class="text-uppercase"><b>$499</b> <span class="text-small">per month</span></div>
                        </td>
                        <td class="text-center">
                            <div class="text-uppercase"><b>$1,499</b> <span class="text-small">per month</span></div>
                        </td>
                        <td class="text-center">
                            <div class="text-uppercase"><b>Contact Us</b> </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">Annual Cost</td>
                        <td class="text-center">
                            <div class="text-uppercase"><b>Free</b></div>
                        </td>
                        <td class="text-center">
                            <div class="text-uppercase"><b>$4,990</b> <span class="text-small">per year</span></div>
                            <span class="text-small text-italic">($998 savings)</span>
                        </td>
                        <td class="text-center">
                            <div class="text-uppercase"><b>$14,990</b> <span class="text-small">per year</span></div>
                            <span class="text-small text-italic">($2,998 savings)</span>
                        </td>
                        <td class="text-center text-middle">
                            <div class="text-uppercase"><b>Contact Us</b> </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">Availability</td>
                        <td class="text-center">
                            <div class="text-default">Best Effort</div>
                        </td>
                        <td class="text-center">
                            <div class="text-default">9am - 5pm</div>
                            <div class="text-small">Monday - Friday</div>
                        </td>
                        <td class="text-center">
                            <div class="text-default">7am - 9pm</div>
                            <div class="text-small">Monday - Friday</div>
                        </td>
                        <td class="text-center text-middle">
                            <div class="text-default">24x7</div>
                            <div class="text-small">Including Holidays</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">Minimum Term</td>
                        <td class="text-center">
                            <div class="text-default">None</div>
                        </td>
                        <td class="text-center">
                            <div class="text-default">12 Months</div>
                        </td>
                        <td class="text-center">
                            <div class="text-default">12 Months</div>
                        </td>
                        <td class="text-center text-middle">
                            <div class="text-default">12 Months</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">Language</td>
                        <td class="text-center">
                            English
                        </td>
                        <td class="text-center">
                            English
                        </td>
                        <td class="text-center">
                            English
                        </td>
                        <td class="text-center text-middle">
                            English
                        </td>
                    </tr>
                    <tr class="border-top">
                        <td rowspan="3">Response Times</td>
                        <td class="col-md-2">High Priority</td>
                        <td class="text-center">No SLA</td>
                        <td class="text-center">< 8 Hours</td>
                        <td class="text-center">< 2 Hours</td>
                        <td class="text-center">< 15 Minutes</td>
                    </tr>
                    <tr>
                        <td class="col-md-2">Medium Priority</td>
                        <td class="text-center">No SLA</td>
                        <td class="text-center">< 24 Hours</td>
                        <td class="text-center">< 8 Hours</td>
                        <td class="text-center">< 1 Hour</td>
                    </tr>
                    <tr>
                        <td class="col-md-2">Low Priority</td>
                        <td class="text-center">No SLA</td>
                        <td class="text-center">< 48 Hours</td>
                        <td class="text-center">< 24 Hours</td>
                        <td class="text-center">< 4 Hours</td>
                    </tr>
                    <tr class="border-top">
                        <td rowspan="5">Channels</td>
                        <td class="col-md-2"><a href="https://community.openboxes.com">Community Forum</a></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                    </tr>
                    <tr>
                        <td class="col-md-2">Email</td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i> </div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                    </tr>
                    <tr>
                        <td class="col-md-2">Live Chat</td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i> </div></td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i> </div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                    </tr>
                    <tr>
                        <td class="col-md-2">Phone</td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i> </div></td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i> </div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                    </tr>
                    <tr>
                        <td class="col-md-2">Video Call</td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i> </div></td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i> </div></td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i> </div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                    </tr>

                    <tr class="border-top">
                        <td rowspan="3">Upgrades</td>
                        <td class="col-md-2">Major Releases</td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i></div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i></div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                    </tr>
                    <tr>
                        <td class="col-md-2">Minor Releases</td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i> </div></td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i> </div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                    </tr>
                    <tr>
                        <td class="col-md-2">Hotfix Releases</td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i> </div></td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i> </div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                    </tr>

                    <tr class="border-top">
                        <td rowspan="6">Included</td>
                        <td class="col-md-2">Troubleshooting</td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i> </div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                    </tr>
                    <tr>
                        <td class="col-md-2">Priority Bug Fixes</td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i> </div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                    </tr>
                    <tr>
                        <td class="col-md-2">Server Monitoring</td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i> </div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                    </tr>
                    <tr>
                        <td class="col-md-2">Server Maintenance</td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i> </div></td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i> </div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                    </tr>
                    <tr>
                        <td class="col-md-2">Custom Development</td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i> </div></td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i> </div></td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i> </div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                    </tr>
                    <tr>
                        <td class="col-md-2">Dedicated Account Manager</td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i> </div></td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i> </div></td>
                        <td class="text-center"><div class="text-danger"><i class="fa fa-times"></i> </div></td>
                        <td class="text-center"><div class="text-success"><i class="fa fa-check"></i> </div></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="text-center">
                            <a href="https://community.openboxes.com" class="btn btn-template-main btn-block">Join Forum</a>
                        </td>
                        <td class="text-center">
                            <a href="/signup?support=standard" class="btn btn-template-main btn-block">Sign up</a>
                        </td>
                        <td class="text-center">
                            <a href="/signup?support=business" class="btn btn-template-main btn-block">Sign up</a>
                        </td>
                        <td class="text-center">
                            <a href="/quote?support=enterprise" class="btn btn-template-main btn-block">Request Quote</a>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</section>