<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>
    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            <div class="container">
                <div class="row">
                    <!-- *** LEFT COLUMN *** -->

                    <div class="col-md-9" id="blog-listing-medium">

                        {{ $paginator := .Paginate (where .Data.Pages "Type" "blog") }}
                        {{ range $paginator.Pages }}
                        <section class="post">
                            <div class="row">
                                <div class="col-md-4">
                                  <div class="image">
                                      <a href="#" class="blog-preview-trigger"
                                         data-toggle="modal"
                                         data-target="#blog-preview-modal"
                                         data-title="{{ .Title }}"
                                         data-summary="{{ .Summary }}"
                                         data-date="{{ .Date.Format $.Site.Params.date_format }}"
                                         data-image="{{ if .Params.banner }}{{ $.Site.BaseURL}}{{ .Params.banner }}{{ else }}{{ $.Site.BaseURL}}img/placeholder.png{{ end }}"
                                         data-url="{{ if .Params.redirectUrl }}{{ .Params.redirectUrl }}{{ else }}{{ .Permalink }}{{ end }}"
                                         data-category="{{ if .Params.categories }}{{ if gt (len .Params.categories) 0 }}{{ index .Params.categories 0 }}{{ end }}{{ end }}">
                                          {{ if .Params.banner }}
                                          <img src="{{ $.Site.BaseURL}}{{ .Params.banner }}" class="img-responsive" alt="{{ .Title }}">
                                          {{ else }}
                                          <img src="{{ $.Site.BaseURL}}img/placeholder.png" class="img-responsive" alt="{{ .Title }}">
                                          {{ end }}
                                      </a>
                                  </div>
                                </div>
                                <div class="col-md-8">
                                    {{ if .Params.redirectUrl }}
                                    <h2><a href="{{ .Params.redirectUrl }}">{{ .Title }}</a></h2>
                                    {{ else }}
                                    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                                    {{ end }}
                                    <div class="clearfix">
                                        <p class="author-category">
                                          {{ if isset .Params "author" }}
                                          {{ i18n "authorBy" }} <a href="#">{{ .Params.author }}</a>
                                          {{ end }}
                                          {{ if isset .Params "categories" }}
                                          {{ if gt (len .Params.categories) 0 }}
                                          in <a href="{{ $.Site.BaseURL }}categories/{{ index .Params.categories 0 | urlize | lower }}">{{ index .Params.categories 0 }}</a>
                                          {{ end }}
                                          {{ end }}

                                        </p>
                                        <p class="date-comments">
                                            {{ if .Params.redirectUrl }}
                                            <a href="{{ .Params.redirectUrl }}"><i class="fa fa-calendar-o"></i> {{ .Date.Format .Site.Params.date_format }}</a>
                                            {{ else }}
                                            <a href="{{ .Permalink }}"><i class="fa fa-calendar-o"></i> {{ .Date.Format .Site.Params.date_format }}</a>
                                            {{ end }}
                                        </p>
                                    </div>
                                    <p class="intro">{{ .Summary }}</p>
                                    {{ if .Params.redirectUrl }}
                                    <p class="read-more"><a href="{{ .Params.redirectUrl  }}" class="btn btn-template-main">{{ i18n "continueReading" }}</a>
                                    {{ else }}
                                    <p class="read-more"><a href="{{ .Permalink }}" class="btn btn-template-main">{{ i18n "continueReading" }}</a>
                                    {{ end }}
                                    </p>
                                </div>
                            </div>
                        </section>
                        {{ end }}

                        <ul class="pager">
                            {{ if .Paginator.HasPrev }}
                            <li class="previous"><a href="{{ .Site.BaseURL }}{{ .Paginator.Prev.URL }}">&larr; {{ i18n "newer" }}</a></li>
                            {{ else }}
                            <li class="previous disabled"><a href="#">&larr; {{ i18n "newer" }}</a></li>
                            {{ end }}

                            {{ if .Paginator.HasNext }}
                            <li class="next"><a href="{{ .Site.BaseURL }}{{ .Paginator.Next.URL }}">{{ i18n "older" }} &rarr;</a></li>
                            {{ else }}
                            <li class="next disabled"><a href="#">{{ i18n "older" }} &rarr;</a></li>
                            {{ end }}
                        </ul>
                    </div>
                    <!-- /.col-md-9 -->

                    <!-- *** LEFT COLUMN END *** -->

                    <!-- *** RIGHT COLUMN ***
       _________________________________________________________ -->

                    <div class="col-md-3">

                        <!-- *** MENUS AND WIDGETS *** -->

                        {{ partial "sidebar.html" . }}

                        <!-- *** MENUS AND FILTERS END *** -->

                    </div>
                    <!-- /.col-md-3 -->

                    <!-- *** RIGHT COLUMN END *** -->

                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        <!-- Blog Preview Modal -->
        <div class="modal fade" id="blog-preview-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="blog-preview-title"></h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body" style="padding: 0;">
                        <img id="blog-preview-image" src="" alt="" style="width: 100%; display: block;">
                        <div style="padding: 20px 30px;">
                            <p class="text-muted" style="margin-bottom: 5px;">
                                <span id="blog-preview-category" class="label label-default" style="margin-right: 8px;"></span>
                                <i class="fa fa-calendar-o"></i> <span id="blog-preview-date"></span>
                            </p>
                            <p id="blog-preview-summary" style="margin-top: 15px;"></p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <a id="blog-preview-link" href="#" class="btn btn-template-primary">Continue Reading</a>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(document).on('click', '.blog-preview-trigger', function() {
                var $el = $(this);
                $('#blog-preview-title').text($el.data('title'));
                $('#blog-preview-image').attr('src', $el.data('image')).attr('alt', $el.data('title'));
                $('#blog-preview-date').text($el.data('date'));
                $('#blog-preview-summary').text($el.data('summary'));
                $('#blog-preview-link').attr('href', $el.data('url'));
                var cat = $el.data('category');
                if (cat) {
                    $('#blog-preview-category').text(cat).show();
                } else {
                    $('#blog-preview-category').hide();
                }
            });
        </script>

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
