<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12 text-justify">

                    <p class="lead">
                        OpenBoxes is an open-source inventory management system developed by supply chain professionals working in resource-scarce
                        settings.


                    <div class="heading mb-small">
                        <h3>Our Origin </h3>
                    </div>

                    <p>In the aftermath of the devastating 2010 earthquake in Haiti, Partners In Health (PIH) embarked
                        on a mission to provide essential healthcare to the people affected by this catastrophic event.
                        Amid the chaos and urgency, a vital need arose—the need for a robust and efficient inventory
                        management system to ensure that critical medical supplies and resources reached those who
                        needed them most.

                    <p>This need ignited a spark of innovation within the dedicated team at Partners In Health. They
                        recognized that effective supply chain management was not just a logistical challenge; it was a
                        matter of life and death. Drawing on their deep understanding of healthcare delivery in
                        resource-constrained settings, they set out to create a solution that would revolutionize the way
                        organizations managed their inventory, from procurement to distribution.


                    <p class="lead">And so, OpenBoxes was born.

                    <div class="row">
                        <div class="col-md-4">
                            <a href="../img/backgrounds/planes-team2.jpg" target="_blank">
                                <img src="../img/backgrounds/planes-team2.jpg" class="img-responsive"/>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="../img/backgrounds/planes-team.jpg" target="_blank">
                                <img src="../img/backgrounds/planes-team.jpg" class="img-responsive" />
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="../img/backgrounds/2013-02-20 17.08.35.jpg" target="_blank">
                                <img src="../img/backgrounds/2013-02-20 17.08.35.jpg" class="img-responsive"/>
                            </a>
                        </div>
                    </div>

                    <div class="heading mb-small">
                        <h3>Our Mission</h3>
                    </div>

                    <p>At OpenBoxes, our mission is deeply rooted in our origin story. We exist to empower
                        organizations—particularly those serving underserved and vulnerable populations—to take control
                        of their supply chains, optimize their operations, and, ultimately, save lives.

                    <div class="heading mb-small">
                        <h3>Our Philosophy</h3>
                    </div>
                    <p class="text-justify">
                        As open-source software, the <a href="https://github.com/openboxes" target="_blank">source code</a> is available to use and modify at no charge
                        under the terms of the <a href="https://goo.gl/t9W3Sz">Eclipse Public License</a>.
                        The source code can also be configured and customized for interested parties to meet their
                        specific needs. Already existing functionality includes inventory tracking, lot and expiry
                        tracking, stock movement and shipment tracking, purchase orders, stock requisitions and
                        fulfillment, as well as built-in and customizable reports.
                    </p>

                    <p class="text-justify">
                        OpenBoxes was designed specifically for low-resource settings where existing infrastructure for electronic inventory
                        management is limited. With minimal hardware requirements, flexible implementation options, an intuitive user interface,
                        and user-friendly workflows, the software provides immediate results for organizations working in challenging
                        environments who are looking for better inventory control and planning possibilities.
                    </p>
                    <p>While OpenBoxes was built to
                        address the specific needs of healthcare supply chains and supply chain staff in developing countries, new workflows
                        and functionality can and have been built to adapt to the needs of other contexts.
                    </p>


                    <div class="heading mb-small">
                        <h3>Our Community</h3>
                    </div>
                    <p class="text-justify">
                        OpenBoxes is supported by a community of software developers and implementation specialists who have supply chain
                        expertise within the global health context. The OpenBoxes community is continually optimizing existing features and
                        developing new features to innovatively meet users’ needs.
                    </p>
                    <p class="text-justify">
                        OpenBoxes community members are available to provide the following services:
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-group">
                                <li class="list-group-item">Implementation Support</li>
                                <li class="list-group-item">User Training (in English, French, and Haitian Creole)</li>
                                <li class="list-group-item">SoP & user manual creation</li>
                                <li class="list-group-item">Data migration</li>
                                <li class="list-group-item">Configuration</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group">
                                <li class="list-group-item">Customization</li>
                                <li class="list-group-item">Upgrades</li>
                                <li class="list-group-item">Hardware Support</li>
                                <li class="list-group-item">Technical Support</li>
                                <li class="list-group-item">Supply Chain Consulting</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <div class="box-simple box-white ">
                <div class="heading mb-small">
                    <h3>Did you know?</h3>
                </div>
                <p class="text-justify">
                     OpenBoxes was created in response to the
                    2010 Haiti earthquake.
                    To learn more, read the following
                    article published by Partners In Health a few weeks after the Haiti Earthquake.
                </p>
                <div style="margin: 20px 0 20px 0">
                    <img src="../img/photogrid.jpg" class="img-responsive img-rounded"/>
                </div>
                <div class="text-center">
                    <a href="/blog/2010/01/26/2010-01-06-pih-wheels-up/" class="btn btn-template-primary btn-block">Learn More</a>
                </div>
            </div>
            <div class="text-center">
                {{ partial "widgets/ethicalads.html" . }}
            </div>
        </div>
    </div>
</div>



