<div class="bar background-white">

    <div class="container">


        <div class="row">
            <div class="col-md-12">
                <img src="../img/photogrid.jpg" class="pull-right col-md-6"/>
                <p>OpenBoxes is an open-source, web-based application developed by supply chain professionals working in resource-scarce
                    settings. As open-source software, OpenBoxes is available to use and modify at no charge under the terms of the
                    <a href="https://goo.gl/t9W3Sz">Eclipse Public License</a> and can be configured and customized for interested parties to meet their
                    specific needs. Already existing functionality includes inventory tracking, lot and expiry
                    tracking, stock movement and shipment tracking, purchase orders, stock requisitions and fulfillment, as well as
                    built-in and customizable reports.</p>
                <p>OpenBoxes was designed specifically for low-resource settings where existing infrastructure for electronic inventory
                    management is limited. With minimal hardware requirements, flexible implementation options, an intuitive user interface,
                    and user-friendly workflows, the software provides immediate results for organizations working in challenging
                    environments who are looking for better inventory control and planning possibilities. While OpenBoxes was built to
                    address the specific needs of healthcare supply chains and supply chain staff in developing countries, new workflows
                    and functionality can and have been built to adapt to the needs of other contexts.</p>

                <p>OpenBoxes is supported by a community of software developers and implementation specialists who have supply chain
                    expertise within the global health context. The OpenBoxes community is continually optimizing existing features and
                    developing new features to innovatively meet users’ needs. OpenBoxes community members are available to provide
                    implementation support, training (in English, French, and Haitian Creole), user manual creation, data migration,
                    software configuration and customization, software upgrades, hardware support, and supply chain consulting services.</p>

                <p>
                    If you'd like to known more about the OpenBoxes origin story, please check out this
                    <a href="/blog/2010/01/26/2010-01-06-pih-wheels-up/">article</a> from the Partners In Health website published a few weeks after the Haiti Earthquake in 2010


                </p>
            </div>
        </div>

    </div>



</div>


