{{ if isset .Site.Params "benefits" }}
{{ if .Site.Params.benefits.enable }}
{{ if gt (len .Site.Data.benefits) 0 }}

<a id="benefits"></a>

<section class="bar background-white mb-small">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-left">
                    <h2>{{ .Site.Params.benefits.title }}</h2>
                </div>
                {{ if .Site.Params.benefits.subtitle }}
                <p class="lead">{{ .Site.Params.benefits.subtitle }}</p>
                {{ end }}
            </div>
        </div>

        <div class="row" style="margin-top: 20px;">
            {{ range sort .Site.Data.benefits "weight" }}
            <div class="col-md-6" style="margin-bottom: 25px;">
                <div class="media">
                    <div class="media-left" style="padding-right: 15px;">
                        <i class="{{ .icon }}" style="font-size: 2em; color: #2d6ca2;"></i>
                    </div>
                    <div class="media-body">
                        <h4 style="margin-top: 0; margin-bottom: 5px;">{{ .name }}</h4>
                        <p class="text-muted">{{ .description | markdownify }}</p>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>

        <div class="row" style="margin-top: 20px;">
            <div class="col-md-12 text-center">
                <a href="/features" class="btn btn-template-primary btn-lg">Explore Features</a>
                <a href="https://demo.openboxes.com/openboxes/auth/signup" class="btn btn-template-main btn-lg" style="margin-left: 10px;">Try the Demo</a>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
