{{ if isset .Site.Params "support" }}
{{ if .Site.Params.support.enable }}
{{ if gt (len .Site.Data.support.community) 0 }}
<section>
    <div class="container">
        <p class="lead">Community support channels are available for free. We will make a "best effort" attempt to
            answer questions posted to community forums. If you would like support with a guaranteed service level
            agreement please click on the Commercial tab.
        </p>
        {{ range $index, $element := sort .Site.Data.support.community "weight" }}
        {{ if eq (mod $index 3) 0 }}
        <div class="col-md-12">
            <div class="row">
                {{ end }}
                <div class="col-md-4">
                    <div class="box-simple box-white same-height">
                        <div class="box-header">
                            <h3><a href="{{ $element.link }}"><i class="{{ .icon }}"></i> {{ $element.name }}</a></h3>
                        </div>
                        <p>{{ $element.description | markdownify }}</p>
                        <p class="text-bottom">
                            <a href="{{ $element.link }}" class="btn btn-block btn-template-primary" target="_blank">{{ $element.linkName }}</a>
                        </p>
                    </div>
                </div>
                {{ if or (eq (mod $index 3) 2) (eq $index (sub (len $.Site.Data.support.community) 1 )) }}
            </div>
        </div>
        {{ end }}
        {{ end }}
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}