<div class="container">

    <a href="/cost-analysis">&laquo;Back to Cost Analysis</a>

    <div class="row">
        <div class="col-md-12">
            <section>
                <div class="row">

                    <div class="col-md-8">
                        <iframe
                                src="https://docs.google.com/spreadsheets/d/1DGfKxtdee5Why2FHG_AAG49aaCr-27LjTl3D_3FWBGk/preview?usp=sharing&amp;single=true&amp;widget=true&amp;headers=false"
                                height="925"
                                width="100%"></iframe>
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                        <div class="row">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="panel-title">Let us help</div>
                                </div>
                                <div class="panel-body">
                                    <div class="text-center">
                                        <div class="text-default">Email us if you would like help estimating costs according to your requirements.</div>
                                        <br/>
                                        <a href="https://docs.google.com/spreadsheets/d/1DGfKxtdee5Why2FHG_AAG49aaCr-27LjTl3D_3FWBGk/copy?usp=sharing&amp;single=true&amp;widget=true&amp;headers=false" target="_blank" class="btn btn-block btn-success">Edit Cost Calculator</a>
                                        <a href="/quote" class="btn btn-block btn-template-primary">Request Quote</a>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>





            <section class="bar background-gray">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <p class="lead">Still not sure what you need? Email us and we'll help you figure out which plan is right for you.</p>
                            <a href="/quote" class="btn btn-template-primary">Contact Us</a>
                        </div>

                    </div>
                </div>
            </section>

        </div>
    </div>
</div>