<div class="container">
    <div class="row">
        <div class="col-md-12">

            <section>

                <div class="row">

                    <div class="col-md-8">
                        <p class="lead">TL;DR: OpenBoxes is free to download and use, but nothing is really ever free.</p>
                        <p class="text-justify">
                            Yes, <a href="https://en.wikipedia.org/wiki/Free_and_open-source_software">free and open-source software</a> (FOSS)
                            is free to download, free to use.
                            But using software is never actually cost-free. There are always costs and fees that need to be considered before adoption of any kind of
                            software, commercial or open-source.
                        </p>

                        <p class="">
                            With that said, free and open-source software can sometimes be more cost-effective than commercial systems. You just have to figure out
                            which software is better for your organization in terms of your requirements and budget.
                        </p>
                        <p class="">
                            To assist you in estimating the cost of adopting OpenBoxes, here are some startup and operational costs
                            that you should take into account. Total Cost of Ownerships (TCO) estimates should look out over a period of between 3-5 years in
                            order to accurately compare costs between open-source (which may have heavy maintenance costs) and commercial systems
                            (which may have heavy upfront costs).
                        </p>
                        <p class="">
                            This is all really complicated. Therefore, we'd be happy to discuss these costs with you to help you figure out whether OpenBoxes is the right fit for
                            your organiation. We can also help you find implementation and development partners that can accompany you
                            through the adoption process.

                        </p>
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                        <div class="row">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="panel-title">Let us help</div>
                                </div>
                                <div class="panel-body">
                                    <div class="text-center">
                                        <div class="lead">Email us if you would like help estimating costs according to your requirements.</div>

                                        <a href="/signup" class="btn btn-template-primary">Contact Us</a>

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>


            <section>
                <div class="row">

                    <div class="col-md-12">
                        <div class="heading">
                            <h3>Basic Cost Analysis (Small Business)</h3>
                        </div>
                        <p>
                            The following table depicts sample costs for a relatively small implementation (i.e. ~2 months, 5-10 users).
                            These are just hypothetical costs. In other words, these are costs you <strong>might</strong> see if require
                            assistance implementing a system like OpenBoxes. Actual costs might be less for smaller implementations
                            that you can primarily complete yourself. In addition, costs might be much higher (up to 5x) if
                            there's a lot of complexity involved in implementing your workflows (i.e. customization and integration).
                        </p>

                        <div class="panel panel-primary">

                        <div class="panel-heading">
                            Assumptions
                        </div>
                        <div class="panel-body">
                            <ul class="">
                                <li>Includes costs to migrate data from Excel (or similar system).</li>
                                <li>Includes costs for minimal customization to implement workflows (typical costs might be 2-3x higher).</li>
                                <li>Includes costs for minimal integration with other systems (typical costs might be 2-3 higher).</li>
                                <li>Includes costs for remote implementation If interested in on-premise implementation you should budget for travel costs.</li>
                                <li>Includes costs for remote training for up to 10 users with a single trainer. If interested in on-premise training should budget for travel costs.</li>
                                <li>Excludes support costs. For Professional Support, expect to pay an additional $15,000 per year and/or budget for your own support and IT staff.</li>
                            </ul>
                        </div>
                        </div>


                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th class="col-md-1">Service</th>
                                <th class="col-md-1">Type</th>
                                <th class="col-md-5">Description</th>
                                <th class="col-md-1">Cost</th>
                                <th class="col-md-1">Units</th>
                                <th class="col-md-1">Total Cost</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><strong>Configuration / Implementation</strong></td>
                                <td>Startup</td>
                                <td>
                                    The costs involved in installing, configurating and testing the software as well as implemeting your organization's workflows.
                                    This can usually be done in-house but may require external resources in cases where technical experise is not
                                    available. This should also include the cost of data backup / restoring processes and contingency plans if the software
                                    becomes unavailable due to power/Internet outages and hardware failures.
                                </td>
                                <td>
                                    $2600 / week
                                </td>
                                <td>
                                    4 weeks
                                </td>
                                <td>
                                    $10,400
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Training</strong></td>
                                <td>Startup</td>
                                <td>
                                    The cost to train employees to use the software, which may include training materials like
                                    documentation, tutorials, videos, etc. This will likely be an on-going cost as you'll have
                                    to train new employees and update training materials as the software evolves.
                                </td>
                                <td>
                                    $600 / half-day session
                                </td>
                                <td>
                                    3 days
                                </td>
                                <td>
                                    $1,800
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Data Migration</strong></td>
                                <td>Startup</td>
                                <td>
                                    If your organization is using another software system (even if it's just Excel) to manage your supply chain data
                                    you'll probably want to move that data to OpenBoxes. In either case, you will need to export (e.g. download as CSV),
                                    transform (e.g. re-format the data to be imported), clean (e.g. remove duplicate and obsolete data) and
                                    most importantly test your data before you can start using the new system. This process can range from manual
                                    data-entry to automated data importing using APIs and other data migration tools.
                                </td>
                                <td>
                                    $1250 / week
                                </td>
                                <td>
                                    2 weeks
                                </td>
                                <td>
                                    $2,500
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Development</strong></td>
                                <td>Startup</td>
                                <td>
                                    Hopefully OpenBoxes does everything you need. But let's be honest, it probably doesn't. Therefore,
                                    you may want to hire a developer to build new features or fix bugs. For the sake of this exercise
                                    let's say you need to develop two (2) custom features, each about a weeks worth of work.
                                </td>
                                <td>
                                    $150 / hour
                                </td>
                                <td>
                                    80 hours
                                </td>
                                <td>
                                    $5,200
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Integration</strong></td>
                                <td>Startup</td>
                                <td>
                                    At some point your organization may want to ingrate with an external system like accounting software. Integration
                                    costs depend on how complicated it will be to communicate between the two systems. Today, most software utilize REST
                                    APIs to facilitate communication between systems while older systems use EDI (electronic data interchange). Integration
                                    costs should also include updates to standard operating procedures (SOPs) which may require re-training.
                                </td>
                                <td>
                                    $150 / hour
                                </td>
                                <td>
                                    40 hours
                                </td>
                                <td>
                                    $2,600
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Cloud Hosting</strong></td>
                                <td>Operational</td>
                                <td>
                                    Whether you want to host OpenBoxes in the cloud (AWS, Heroku, Digital Ocean) or on on-premise (e.g. your
                                    personal laptop or a beefy server you just bought), hosting software can be somewhat cheap or really expensive.
                                    A relative cheap cloud-hosting option will run you about $20 per month while a dedicated cloud hosting solution
                                    may cost hundreds per month. In addition, you also need to pay for other services like SMTP, Server Monitoring,
                                    Data Backup. This could easily cost $250-500 per month.
                                </td>
                                <td>
                                    $250 / month
                                </td>
                                <td>12 months</td>
                                <td>
                                    $3,000
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Staffing</strong></td>
                                <td>Operational</td>
                                <td>
                                    You may not need to hire anyone, but the time spent on using and supporting the software should be
                                    factored into the total cost of ownership. IT staffing capacity (sysadmins, developers) is an important consideration here.
                                    Depending on your user support requirements you may need to hire full-time staff to provide support.
                                </td>
                                <td>
                                    TBD
                                </td>
                                <td>
                                    TBD
                                </td>
                                <td>
                                    TBD
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Support</strong></td>
                                <td>Operational</td>
                                <td>
                                    The cost of supporting users who use the software on a daily basis, from IT support (restarting servers) to
                                    application-related help desks (debugging issues with the software).
                                </td>
                                <td>
                                    TBD
                                </td>
                                <td>
                                    TBD
                                </td>
                                <td>
                                    TBD
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-12">

                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th class="col-md-1">Year</th>
                                <th class="col-md-5">Description</th>
                                <th class="col-md-1 text-right">Total Cost</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <th>Year 1</th>
                                <td>Total first-year startup and operational costs shown above.</td>
                                <td class="text-right">$23,700</td>
                            </tr>
                            <tr>
                                <th>Year 2</th>
                                <td>Includes costs for hosting (12 months @ $250 per month), custom development (80 hours @ $5200).</td>
                                <td class="text-right">$8,200</td>
                            </tr>
                            <tr>
                                <th>Year 3</th>
                                <td>Includes costs for hosting (12 months @ $250 per month), custom development (40 hours @ $2600)</td>
                                <td class="text-right">$5,600</td>
                            </tr>
                            <tr>
                                <th>Year 4</th>
                                <td>Includes costs for hosting (12 months @ $250 per month), custom development (40 hours @ $2600)</td>
                                <td class="text-right">$5,600</td>
                            </tr>
                            <tr>
                                <th>Year 5</th>
                                <td>Fifth year costs for hosting (12 months @ $250 per month), no custom development.</td>
                                <td class="text-right">$3,000</td>
                            </tr>
                            <tfoot>
                            <tr>
                                <th colspan="2">Total Cost</th>
                                <td class="text-right">$46,100</td>
                            </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>

                <p class="alert alert-danger">
                    <strong>NOTE:</strong> If after performing a cost analysis you see that your customization / integration costs represent
                    a large portion of your implementation costs, you might be looking at the
                    wrong software. In other words, it's ok if you plan on customizing the software over the course of
                    ownership, but if you need to do a lot of upfront customization just to meet your basic requirements,
                    then there's a change that the software is not suitable for your needs.
                    If that's the case, <span class="text-uppercase">Don't</span> hesitate to ask us for <a href="https://alternativeto.net/software/openboxes/">alternatives</a>.
                </p>


            </section>

            <section class="bar background-gray">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <p class="lead">Not sure what you need? Email us and we'll help you figure out which plan is right for you.</p>

                            <a href="/signup" class="btn btn-template-primary">Contact Us</a>

                        </div>

                    </div>
                </div>
            </section>

        </div>
    </div>
</div>