<div class="navbar-affixed-top" data-spy="affix" data-offset-top="200">
    <div class="navbar navbar-default yamm" role="navigation" id="navbar">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand home" href="{{ .Site.BaseURL }}">
                    <img src="{{ .Site.BaseURL }}{{ .Site.Params.logo }}" alt="{{ .Title }} logo" class="hidden-xs hidden-sm logo">
                    <img src="{{ .Site.BaseURL }}{{ .Site.Params.logo_small }}" alt="{{ .Title }} logo" class="visible-xs visible-sm logo">
                    <span class="sr-only">{{ .Title }} - {{ i18n "navHome" }}</span>
                </a>
                <div class="navbar-buttons">
                    <button type="button" class="navbar-toggle btn-template-main" data-toggle="collapse" data-target="#navigation">
                      <span class="sr-only">{{ i18n "navToggle" }}</span>
                        <i class="fa fa-align-justify"></i>
                    </button>
                </div>
            </div>
            <!--/.navbar-header -->
            <div class="navbar-collapse collapse" id="navigation">
                <ul class="nav navbar-nav">
                  {{ range .Site.Menus.main }}

                    {{ if .HasChildren }}
                        <li class="dropdown use-yamm yamm-fw">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">{{ .Pre }}{{ .Name }}{{ .Post }}<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="yamm-content">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                {{ partial "widgets/ethicalads.html" . }}
                                            </div>
                                            {{ range .Children }}
                                            <div class="col-sm-3">
                                                {{ if .HasChildren }}
                                                    <h5>{{ .Pre }}{{ .Name }} {{ .Post }}</h5>
                                                    <ul>
                                                    {{ range .Children }}
                                                        <li>
                                                            <a href="{{ .URL }}"
                                                               {{ if hasPrefix .URL "http" }}
                                                            target="_blank" rel="noopener noreferrer"
                                                            {{ end }}
                                                            >
                                                            {{ .Pre }}{{ .Name }} {{ .Post }}
    <!--                                                        {{ if hasPrefix .URL "http" }}<i class="fa fa-external-link"></i>{{ end }}-->
                                                            </a>

                                                        </li>
                                                    {{ end }}
                                                    </ul>
                                                {{ else }}
                                                <div class="box-simple box-white">
                                                    <a href="{{ .URL }}">
                                                    <div class="icon">
                                                        {{ .Pre}}
                                                    </div>
                                                    <h4>{{ .Name }}</h4>
                                                    </a>
                                                </div>

                                                {{ end }}
                                            </div>
                                            {{ end }}
<!--                                            <div class="col-sm-3">-->
<!--                                                <h5>Shortcodes</h5>-->
<!--                                                <ul>-->
<!--                                                    <li><a href="template-accordions.html">Accordions</a>-->
<!--                                                    </li>-->
<!--                                                    <li><a href="template-alerts.html">Alerts</a>-->
<!--                                                    </li>-->
<!--                                                    <li><a href="template-buttons.html">Buttons</a>-->
<!--                                                    </li>-->
<!--                                                    <li><a href="template-content-boxes.html">Content boxes</a>-->
<!--                                                    </li>-->
<!--                                                    <li><a href="template-blocks.html">Horizontal blocks</a>-->
<!--                                                    </li>-->
<!--                                                    <li><a href="template-pagination.html">Pagination</a>-->
<!--                                                    </li>-->
<!--                                                    <li><a href="template-tabs.html">Tabs</a>-->
<!--                                                    </li>-->
<!--                                                    <li><a href="template-typography.html">Typography</a>-->
<!--                                                    </li>-->
<!--                                                </ul>-->
<!--                                            </div>-->
<!--                                            <div class="col-sm-3">-->
<!--                                                <h5>Header variations</h5>-->
<!--                                                <ul>-->
<!--                                                    <li><a href="template-header-default.html">Default sticky header</a>-->
<!--                                                    </li>-->
<!--                                                    <li><a href="template-header-nosticky.html">No sticky header</a>-->
<!--                                                    </li>-->
<!--                                                    <li><a href="template-header-light.html">Light header</a>-->
<!--                                                    </li>-->
<!--                                                </ul>-->
<!--                                            </div>-->
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>

<!--                    <li class="dropdown">-->
<!--                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ .Pre }}{{ .Name }}{{ .Post }}<span class="caret"></span></a>-->
<!--                        <ul class="dropdown-menu">-->
<!--                          {{ range .Children }}-->
<!--                            <li>-->
<!--                                <a href="{{ .URL }}"-->
<!--                                   {{ if hasPrefix .URL "http" }}-->
<!--                                   target="_blank" rel="noopener noreferrer"-->
<!--                                   {{ end }}-->
<!--                                >-->
<!--                                {{ .Pre }}{{ .Name }} {{ .Post }}-->
<!--                                </a>-->
<!--                            </li>-->
<!--                          {{ end }}-->
<!--                        </ul>-->
<!--                    </li>-->
                    {{ else }}
                    <li>
                        <a href="{{ .URL }}"
                           {{ if hasPrefix .URL "http" }}
                        target="_blank" rel="noopener noreferrer"
                        {{ end }}
                        >
                            {{ .Pre }} {{ .Name }} {{ .Post }}
                        </a>
                    </li>
                    {{ end  }}
                  </li>
                  {{ end }}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{ range .Site.Menus.topbar.ByWeight }}
                    <li>
                       <a href="{{ .URL }}" style="opacity: 1;" title="{{ .Name }}">{{ .Pre }} {{ .Name }}</a>
                    </li>
                    {{ end }}
                </ul>
            </div>
            <!--/.nav-collapse -->

            <div class="collapse clearfix" id="search">
                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>
            </div>
            <!--/.nav-collapse -->

        </div>
    </div>
    <!-- /#navbar -->

</div>
<!-- *** NAVBAR END ***-->
