<section class="bar background-white no-mb text-center">
    <div class="container">
        <div class="row showcase text-center">
            <div class="col-md-3 col-sm-6">
                <div class="item">
                    <div class="icon-outlined icon-lg icon-thin"><i class="fa fa-align-justify"></i></div>
                    <h4><span class="h1 counter">9</span><br>Implementations</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="item">
                    <div class="icon-outlined icon-lg icon-thin"><i class="fa fa-users"></i></div>
                    <h4><span class="h1 counter">100</span><br>Satisfied Clients</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="item">
                    <div class="icon-outlined icon-sm icon-thin"><i class="fa fa-copy"></i></div>
                    <h4><span class="h1 counter">320</span><br>Projects</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="item">
                    <div class="icon-outlined icon-sm icon-thin"><i class="fa fa-font"></i></div>
                    <h4><span class="h1 counter">923</span><br>Magazines and Brochures</h4>
                </div>
            </div>
        </div>
    </div>
</section>