<!--<section class="">-->
    <!--<div class="row">-->
        <!--<div class="col-md-8 col-md-offset-2">-->

            <!--<div class="row">-->
                <!--<div class="col-md-12">-->
                    <!--<div class="heading">-->
                        <!--<h3>Software Cost</h3>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row packages">-->
                <!--<div class="col-md-4">-->
                    <!--<div class="package">-->
                        <!--<div class="package-header light-gray">-->
                            <!--<h5>Basic</h5>-->
                        <!--</div>-->
                        <!--<div class="price-container d-flex align-items-end justify-content-center">-->
                            <!--<h4 class="h1">FREE</h4>-->
                        <!--</div>-->
                        <!--<ul class="list-unstyled">-->
                            <!--<li><i class="fa fa-check"></i>100GB Storage</li>-->
                            <!--<li><i class="fa fa-check"></i>Own config file</li>-->
                            <!--<li><i class="fa fa-times"></i>Sharing Tools</li>-->
                            <!--<li><i class="fa fa-times"></i>Auto Backup</li>-->
                            <!--<li><i class="fa fa-times"></i>Extended Security</li>-->
                        <!--</ul>-->
                        <!--<a href="#" class="btn btn-template-outlined">Get Started</a>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                    <!--<div class="package">-->
                        <!--<div class="package-header light-gray">-->
                            <!--<div class="content">-->
                                <!--<h5>Premium</h5>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="price-container d-flex align-items-end justify-content-center">-->
                            <!--<h4 class="h1">Still FREE</h4>-->
                        <!--</div>-->
                        <!--<ul class="list-unstyled">-->
                            <!--<li><i class="fa fa-check"></i>100GB Storage</li>-->
                            <!--<li><i class="fa fa-check"></i>Own config file</li>-->
                            <!--<li><i class="fa fa-times"></i>Sharing Tools</li>-->
                            <!--<li><i class="fa fa-times"></i>Auto Backup</li>-->
                            <!--<li><i class="fa fa-times"></i>Extended Security</li>-->
                        <!--</ul><a href="#" class="btn btn-template-outlined">Sign Up</a>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                    <!--<div class="package">-->
                        <!--<div class="package-header light-gray">-->
                            <!--<h5>Enterprise</h5>-->
                        <!--</div>-->
                        <!--<div class="price-container d-flex align-items-end justify-content-center">-->
                            <!--<h4 class="h1">Contact Us</h4>-->
                        <!--</div>-->
                        <!--<ul class="list-unstyled">-->
                            <!--<li><i class="fa fa-check"></i> Cloud or On-Premise</li>-->
                            <!--<li><i class="fa fa-check"></i>Own config file</li>-->
                            <!--<li><i class="fa fa-times"></i>Sharing Tools</li>-->
                            <!--<li><i class="fa fa-times"></i>Auto Backup</li>-->
                            <!--<li><i class="fa fa-times"></i>Extended Security</li>-->
                        <!--</ul><a href="#" class="btn btn-template-outlined">Sign Up</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->
    <!--</div>-->
<!--</section>-->


<section>

    <div class="row">

        <div class="col-md-10 col-md-offset-1">
            <div class="heading">
                <h3>Total Cost of Ownership</h3>
            </div>
            <p class="lead">TL;DR: OpenBoxes is free to download and use, but nothing is really ever free.</p>
            <p>
                Yes, <a href="https://en.wikipedia.org/wiki/Free_and_open-source_software">free and open-source software</a> (FOSS)
                is free to download and use.
                But using software is never actually cost-free. There are always costs and fees that need to be considered before adoption of any kind of
                software, commercial or open-source.
            </p>

            <p>
                With that said, free and open-source software can sometimes be more cost-effective than commercial systems. You just have to figure out
                which software is better for your organization in terms of your requirements and budget.
            </p>
            <p>
                To assist you in estimating the cost of adopting OpenBoxes, here are some startup and operational costs
                that you should take into account. Total Cost of Ownerships (TCO) estimates should look out over a period of between 3-5 years in
                order to accurately compare costs between open-source (which may have heavy maintenance costs) and commercial systems
                (which may have heavy upfront costs).
            </p>
            <p>
                This is all really complicated. Therefore, we'd be happy to discuss these costs with you to help you figure out whether OpenBoxes is the right fit for
                your organiation. We can also help you find implementation and development partners that can accompany you
                through the adoption process.

            </p>
            <p align="center">
                <a href="mailto:support@openboxes.com?subject=Total+Cost+of+Ownership+Analysis" class="btn btn-template-primary">Contact Us</a>
            </p>
        </div>
    </div>
</section>
<section>
    <div class="row">

        <div class="col-md-10 col-md-offset-1">
            <div class="heading">
                <h3>Cost Analysis (Example)</h3>
            </div>
            <p class="lead">Software adoption can be expensive. Even open-source.</p>
            <p>
                The following table depicts sample costs for a small-to-medium-sized implementation.
                These are just hypothetical costs i.e. these are costs you <strong>might</strong> see if you ask for
                help implementing a system like OpenBoxes. Actual costs might be less for smaller implementations or
                for implementations that you complete yourself. In addition, costs might be much higher (5-10x) if
                there's a lot of complexity (i.e. customization and integration).
            </p>
            <p>
                <strong>NOTE:</strong> If implementation costs outweigh your budget, you might be looking at the
                wrong software. Meaning, if you need to do a lot of customization there might be better software that
                meets your requirements. If that's the case, <span class="text-uppercase">Don't</span> hesitate to ask
                us for alternatives.
            </p>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="col-md-1">Service</th>
                    <th class="col-md-1">Type</th>
                    <th class="col-md-5">Description</th>
                    <th class="col-md-1">Average Unit Cost</th>
                    <th class="col-md-1">Units</th>
                    <th class="col-md-1">Total Cost</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong>Configuration / Implementation</strong></td>
                    <td>Startup</td>
                    <td>
                        The costs involved in installing, configurating and testing the software as well as implemeting your organization's workflows.
                        This can usually be done in-house but may require external resources in cases where technical experise is not
                        available. This should also include the cost of data backup / restoring processes and contingency plans if the software
                        becomes unavailable due to power/Internet outages and hardware failures.
                    </td>
                    <td>
                        $2600 / week
                    </td>
                    <td>
                        4 weeks
                    </td>
                    <td>
                        $10,400
                    </td>
                </tr>
                <tr>
                    <td><strong>Training</strong></td>
                    <td>Startup</td>
                    <td>
                        The cost to train employees to use the software, which may include training materials like
                        documentation, tutorials, videos, etc. This will likely be an on-going cost as you'll have
                        to train new employees and update training materials as the software evolves.
                    </td>
                    <td>
                        $100 / hour
                    </td>
                    <td>
                        24 hours
                    </td>
                    <td>
                        $2,400
                    </td>
                </tr>
                <tr>
                    <td><strong>Data Migration</strong></td>
                    <td>Startup</td>
                    <td>
                        If your organization is using another software system (even if it's just Excel) to manage your supply chain data
                        you'll probably want to move that data to OpenBoxes. In either case, you will need to export (e.g. download as CSV),
                        transform (e.g. re-format the data to be imported), clean (e.g. remove duplicate and obsolete data) and
                        most importantly test your data before you can start using the new system. This process can range from manual
                        data-entry to automated data importing using APIs and other data migration tools.
                    </td>
                    <td>
                        $1250 / week
                    </td>
                    <td>
                        2
                    </td>
                    <td>
                        $2,500
                    </td>
                </tr>
                <tr>
                    <td><strong>Customization</strong></td>
                    <td>Startup</td>
                    <td>
                        Hopefully OpenBoxes does everything you need. But let's be honest, it probably doesn't. Therefore,
                        you may want to hire a developer to build new features or fix bugs. For the sake of this exercise
                        let's say you need to developer two (2) custom feature, each a week of work.
                    </td>
                    <td>
                        $65 / hour
                    </td>
                    <td>
                        80
                    </td>
                    <td>
                        $5,200
                    </td>
                </tr>
                <tr>
                    <td><strong>Integration</strong></td>
                    <td>Startup</td>
                    <td>
                        At some point your organization may want to ingrate with an external system like accounting software. Integration
                        costs depend on how complicated it will be to communicate between the two systems. Today, most software utilize REST
                        APIs to facilitate communication between systems while older systems use EDI (electronic data interchange). Integration
                        costs should also include updates to standard operating procedures (SOPs) which may require re-training.
                    </td>
                    <td>
                        $65 / hour
                    </td>
                    <td>
                        40
                    </td>
                    <td>
                        $2,600
                    </td>
                </tr>
                <tr>
                    <td><strong>Hosting</strong></td>
                    <td>Operational</td>
                    <td>
                        Whether you want to host OpenBoxes in the cloud (AWS, Heroku, Digital Ocean) or on on-premise (e.g. your
                        personal laptop or a beefy server you just bought), hosting software can be somewhat cheap or really expensive.
                        A relative cheap cloud-hosting option will run you about $20 per month while a dedicated cloud hosting solution
                        may cost hundreds per month.
                    </td>
                    <td>
                        $100 / month
                    </td>
                    <td>12 months</td>
                    <td>
                        $1,200
                    </td>
                </tr>
                <tr>
                    <td><strong>Staffing</strong></td>
                    <td>Operational</td>
                    <td>
                        You may not need to hire anyone, but the time spent on using and supporting the software should be
                        factored into the total cost of ownership. IT staffing capacity (sysadmins, developers) is an important consideration here.
                        Depending on your user support requirements you may need to hire full-time staff to provide support.
                    </td>
                    <td>
                        TBD
                    </td>
                    <td>
                        TBD
                    </td>
                    <td>
                        TBD
                    </td>
                </tr>
                <tr>
                    <td><strong>Support</strong></td>
                    <td>Operational</td>
                    <td>
                        The cost of supporting users who use the software on a daily basis, from IT support (restarting servers) to
                        application-related help desks (debugging issues with the software).
                    </td>
                    <td>
                        TBD
                    </td>
                    <td>
                        TBD
                    </td>
                    <td>
                        TBD
                    </td>
                </tr>

                </tbody>
            </table>

            <div class="heading">
                <h3>Total Cost of Ownership over 5 years (Example)</h3>
            </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="col-md-1">Service</th>
                    <th class="col-md-1">Type</th>
                    <th class="col-md-5">Description</th>
                    <th class="col-md-1">Average Unit Cost</th>
                    <th class="col-md-1">Units</th>
                    <th class="col-md-1">Total Cost</th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <th>Costs: Year 1</th>
                    <td>All</td>
                    <td>All first-year startup and operational costs shown above.</td>
                    <td>$24,300</td>
                    <td>1 year</td>
                    <td>$24,300</td>
                </tr>
                <tr>
                    <th>Costs: Year 2 - 5</th>
                    <td>All</td>
                    <td>Let's assume you have operational costs related to hosting, training, custom development, and integration.</td>
                    <td>$11,400 / year</td>
                    <td>4 years</td>
                    <td>$45,600</td>
                </tr>
                <tfoot>
                    <tr>
                        <th colspan="5">Total Cost (Year 1 - 5)</th>
                        <td>$69,900</td>
                    </tr>
                </tfoot>
            </table>

        </div>

    </div>
</section>
