<div class="container">
    <div class="row">
        <div class="col-md-12">
            <section>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row packages">
                            <div class="col-md-3">
                                <div class="package">
                                    <div class="package-header light-gray">
                                        <h5>Do It Yourself</h5>
                                    </div>
                                    <div class="price-container d-flex align-items-end justify-content-center">
                                        <h4 class="h2">No Fee</h4>
                                    </div>
                                    <ul class="list-unstyled">
                                        <li class="text-danger"><i class="fa fa-times"></i>Cloud Hosted</li>
                                        <li class="text-danger"><i class="fa fa-times"></i>Installation</li>
                                        <li class="text-danger"><i class="fa fa-times"></i>Upgrades</li>
                                        <li class="text-danger"><i class="fa fa-times"></i>Monitoring</li>
                                        <li class="text-danger"><i class="fa fa-times"></i>Auto Backup</li>
                                        <li class="text-success"><i class="fa fa-check"></i>Community Support</li>
                                        <li class="text-success"><i class="fa fa-check"></i>Forum, Chat</li>
                                        <li class="text-danger"><i class="fa fa-times"></i>No Response Time Guarantee</li>
                                        <li class="text-danger"><i class="fa fa-times"></i>Bug Fixes</li>
                                        <li class="text-danger"><i class="fa fa-times"></i>New Features</li>
                                        <li class="text-danger"><i class="fa fa-times"></i>Configuration</li>
                                        <li class="text-danger"><i class="fa fa-times"></i>Implementation</li>
                                        <li class="text-danger"><i class="fa fa-times"></i>Data Migration</li>
                                    </ul>
                                    <a href="http://docs.openboxes.com/en/latest/installation/" class="btn btn-template-primary">Get Started</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="package">
                                    <div class="package-header light-gray">
                                        <div class="content">
                                            <h5>Basic</h5>
                                        </div>
                                    </div>
                                    <div class="price-container d-flex align-items-end justify-content-center">
                                        <div class="h2">$600 <span class="text-small text-uppercase">Per Month</span></div>
                                    </div>
                                    <ul class="list-unstyled">
                                        <li class="text-success"><i class="fa fa-check text-success"></i>Cloud Hosted</li>
                                        <li class="text-success"><i class="fa fa-check"></i>Installation</li>
                                        <li class="text-success"><i class="fa fa-check"></i>Upgrades</li>
                                        <li class="text-success"><i class="fa fa-check"></i>Monitoring</li>
                                        <li class="text-success"><i class="fa fa-check"></i>Auto Backup</li>
                                        <li class="text-success"><i class="fa fa-check"></i>Support <small>(Business Hours)</small>**</li>
                                        <li class="text-success"><i class="fa fa-check"></i>Forum, Chat, Email</li>
                                        <li class="text-success"><i class="fa fa-check"></i>Response within 24 Hours</small></li>
                                        <li class="text-danger"><i class="fa fa-times"></i>Bug Fixes</li>
                                        <li class="text-danger"><i class="fa fa-times"></i>New Features</li>
                                        <li class="text-danger"><i class="fa fa-times"></i>Configuration</li>
                                        <li class="text-danger"><i class="fa fa-times"></i>Implementation</li>
                                        <li class="text-danger"><i class="fa fa-times"></i>Data Migration</li>
                                    </ul><a href="/signup?package=premium" class="btn btn-template-primary">Sign Up</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="package">
                                    <div class="package-header light-gray">
                                        <div class="content">
                                            <h5>Premium</h5>
                                        </div>
                                    </div>
                                    <div class="price-container d-flex align-items-end justify-content-center">
                                        <div class="h2">$6000 <span class="text-small text-uppercase">Per Month</span></div>
                                    </div>
                                    <ul class="list-unstyled">
                                        <li class="text-success"><i class="fa fa-check"></i>Cloud Hosted</li>
                                        <li class="text-success"><i class="fa fa-check"></i>Installation</li>
                                        <li class="text-success"><i class="fa fa-check"></i>Upgrades</li>
                                        <li class="text-success"><i class="fa fa-check"></i>Monitoring</li>
                                        <li class="text-success"><i class="fa fa-check"></i>Auto Backup</li>
                                        <li class="text-success"><i class="fa fa-check"></i>Support <small>(Business Hours)</small>**</li>
                                        <li class="text-success"><i class="fa fa-check"></i>Forum, Chat, Email, <strong>Phone</strong></li>
                                        <li class="text-success"><i class="fa fa-check"></i>Response within <strong>4 Hours</strong></li>
                                        <li class="text-success"><i class="fa fa-check"></i><strong>Bug Fixes</strong></li>
                                        <li class="text-success"><i class="fa fa-check"></i><strong>New Features</strong></li>
                                        <li class="text-danger"><i class="fa fa-times"></i>Configuration</li>
                                        <li class="text-danger"><i class="fa fa-times"></i>Implementation</li>
                                        <li class="text-danger"><i class="fa fa-times"></i>Data Migration</li>
                                    </ul><a href="/signup?package=premium" class="btn btn-template-primary">Sign Up</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="package">
                                    <div class="package-header light-gray">
                                        <h5>Enterprise</h5>
                                    </div>
                                    <div class="price-container d-flex align-items-end justify-content-center">
                                        <h4 class="h2">Contact Us</h4>
                                    </div>
                                    <ul class="list-unstyled">
                                        <li class="text-success"><i class="fa fa-check"></i>Cloud Hosted</li>
                                        <li class="text-success"><i class="fa fa-check"></i>Installation</li>
                                        <li class="text-success"><i class="fa fa-check"></i>Upgrades</li>
                                        <li class="text-success"><i class="fa fa-check"></i>Monitoring</li>
                                        <li class="text-success"><i class="fa fa-check"></i>Auto Backup</li>
                                        <li class="text-success"><i class="fa fa-check"></i><strong>Support (24 x 7)</strong></li>
                                        <li class="text-success"><i class="fa fa-check"></i>Forum, Chat, Email, <strong>Phone</strong></li>
                                        <li class="text-success"><i class="fa fa-check"></i>Response within <strong>1 Hour</strong></li>
                                        <li class="text-success"><i class="fa fa-check"></i><strong>Bug Fixes</strong></li>
                                        <li class="text-success"><i class="fa fa-check"></i><strong>New Features</strong></li>
                                        <li class="text-success"><i class="fa fa-check"></i><strong>Configuration</strong></li>
                                        <li class="text-success"><i class="fa fa-check"></i><strong>Implementation</strong></li>
                                        <li class="text-success"><i class="fa fa-check"></i><strong>Data Migration</strong></li>
                                    </ul><a href="/signup?package=enterprise" class="btn btn-template-primary">Contact Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-style-none">
                            <li><span class="text-success"><i class="fa fa-check"></i> indicates services included in package</span></li>
                            <li><span class="text-danger"><i class="fa fa-times"></i> indicates services excluded from package</span> (NOTE: most of these services are available for purchase on an hourly, daily, or weekly basis - see pricing below).</li>
                            <li><strong>**</strong> Business Hours are generally defined as 9:00 AM to 5:00 PM (US Eastern) but can be negotiated through a Service Level Agreement (SLA).</li>
                            <li>24x7 Support and Support Level Agreements (SLAs) can be purchased separately.</li>
                        </ul>
                    </div>
                </div>
                <a name="additionalServices"></a>

            </section>


            <section>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="heading">
                                    <h3>Additional Services</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="lead">
                                    If you are looking to manage your own instance of OpenBoxes (i.e. Do It Yourself),
                                    but would like a little help with installation, implementation, customization, and/or
                                    support please review the pricing below and get in touch with us.
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th class="col-md-2">Service</th>
                                    <th class="col-md-8">Description</th>
                                    <th class="col-md-2">Cost</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><strong>Installation</strong></td>
                                    <td>
                                        One-time installation fee.
                                    </td>
                                    <td>
                                        <ul class="list-style-none">
                                            $1000
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Upgrades</strong></td>
                                    <td>
                                        One-time upgrade fee.
                                    </td>
                                    <td>
                                        <ul class="list-style-none">
                                            <li>$500</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Configuration</strong></td>
                                    <td>
                                        This costs involved in configuring the software as well as implementing your organization's workflows.
                                        This can usually be done in-house but may require external resources in cases where technical experise is not
                                        available. This should also include the cost of data backup / restoring processes and contingency plans if the software
                                        becomes unavailable due to power/Internet outages and hardware failures.
                                    </td>
                                    <td>
                                        <ul class="list-style-none">
                                            <li>$100 per hour</li>
                                            <li>$600 per day</li>
                                            <li>$3000 per week</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Training</strong></td>
                                    <td>
                                        The cost to train employees to use the software, which may include training materials like
                                        documentation, tutorials, videos, etc. This will likely be an on-going cost as you'll have
                                        to train new employees and update training materials as the software evolves. On-premise
                                        training is also available.
                                    </td>
                                    <td>
                                        <ul class="list-style-none">
                                            <li>$100 per hour</li>
                                            <li>$600 per day</li>
                                            <li>$3000 per week</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Data Migration</strong></td>
                                    <td>
                                        If your organization is using another software system (even if it's just Excel) to manage your supply chain data
                                        you'll probably want to move that data to OpenBoxes. In either case, you will need to export (e.g. download as CSV),
                                        transform (e.g. re-format the data to be imported), clean (e.g. remove duplicate and obsolete data) and
                                        most importantly test your data before you can start using the new system. This process can range from manual
                                        data-entry to automated data importing using APIs and other data migration tools.
                                    </td>
                                    <td>
                                        <ul class="list-style-none">
                                            <li>$100 per hour</li>
                                            <li>$600 per day</li>
                                            <li>$3000 per week</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Development</strong></td>
                                    <td>
                                        Hopefully OpenBoxes does everything you need. But let's be honest, it probably doesn't. Therefore,
                                        you may want to hire a developer to build new features and/or fix bugs.
                                    </td>
                                    <td>
                                        <ul class="list-style-none">
                                            <li>$150 per hour</li>
                                            <li>$900 per day</li>
                                            <li>$4000 per week</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Integration</strong></td>
                                    <td>
                                        At some point your organization may want to ingrate with an external system i.e. accounting software or an enterprise
                                        resource planning (ERP) system. Integration
                                        costs depend on how complicated it will be to communicate between the two systems. Today, most software utilize REST
                                        APIs to facilitate communication between systems while older systems use EDI (electronic data interchange). Integration
                                        costs should also include updates to standard operating procedures (SOPs) which may require re-training.
                                    </td>
                                    <td>
                                        <ul class="list-style-none">
                                            <li>$150 per hour</li>
                                            <li>$900 per day</li>
                                            <li>$4000 per week</li>
                                        </ul>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </section>

            <section class="bar background-gray">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <p class="lead">Not sure what you need? Email us and we'll help you figure out which plan is right for you.</p>

                            <a href="/signup" class="btn btn-template-main">Get Started</a>

                        </div>

                    </div>
                </div>
            </section>

        </div>
    </div>
</div>