{{ if isset .Site.Params "recent_posts" }}
{{ if .Site.Params.recent_posts.enable }}

<a id="recent-news"></a>

<section class="bar background-white">
    <div class="container">

        <div class="col-md-12">
            <div class="heading text-left">
                <h2>{{ .Site.Params.recent_posts.title }}</h2>
            </div>

            <p class="lead">
              {{ .Site.Params.recent_posts.subtitle | markdownify }}
            </p>

            <!-- *** BLOG HOMEPAGE *** -->

            <div class="row same-height-row">
                {{ $posts := .Paginate (where .Site.Pages "Type" "blog") }}
                {{ range first 8 $posts.Pages }}
                <div class="col-md-3 col-sm-3">
                    <div class="box-image-text blog">
                        <div class="top">
                            <div class="image" style="overflow:hidden">
                                {{ if isset .Params "banner" }}
                                <img src="{{ .Site.BaseURL}}{{ .Params.banner }}" class="img-responsive" alt="" >
                                {{ else }}
                                <img src="{{ .Site.BaseURL}}img/placeholder.png" class="img-responsive" alt="">
                                {{ end }}
                            </div>
                            <div class="bg"></div>
                            <div class="text">
                                <p class="buttons">
                                    {{ if .Params.redirectUrl }}
                                    <a href="{{ .Params.redirectUrl }}" class="btn btn-template-transparent-primary"><i class="fa fa-link"></i> {{ i18n "readMore" }}</a>
                                    {{ else }}
                                    <a href="{{ .Permalink }}" class="btn btn-template-transparent-primary"><i class="fa fa-link"></i> {{ i18n "readMore" }}</a>
                                    {{ end }}
                                </p>
                            </div>
                        </div>
                        <div class="content">
                            {{ if .Params.redirectUrl }}
                            <h4><a href="{{ .Params.redirectUrl  }}">{{ .Title }}</a></h4>
                            {{ else }}
                            <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                            {{ end }}
                            <p class="author-category">
                            {{ with .Params.author }}
                            {{ i18n "authorBy" }} <a href="#">{{ . }}</a>
                            {{ end }}
                            {{ i18n "publishedOn" }} {{ .Date.Format .Site.Params.date_format }}
                            </p>
                            <p class="intro">{{ .Summary }}</p>
<!--                            <p class="read-more">-->
<!--                                {{ if .Params.redirectUrl }}-->
<!--                                    <a href="{{ .Params.redirectUrl }}" class="btn btn-template-main">{{ i18n "continueReading" }}</a>-->
<!--                                {{ else }}-->
<!--                                    <a href="{{ .Permalink }}" class="btn btn-template-main">{{ i18n "continueReading" }}</a>-->
<!--                                {{ end }}-->
<!--                            </p>-->
                        </div>
                        <!-- /.box-image-text -->
                    </div>
                </div>
                {{ end }}

            </div>
            <!-- /.row -->

            <!-- *** BLOG HOMEPAGE END *** -->

        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.bar -->
{{ end }}
{{ end }}
