
<div class="container">
    <div class="row">
        <div class="col-md-8">

            <p class="text-large">Please read our blog entry <a href="/blog/2016/09/23/3/">The Road Ahead</a> to get more details about the items in the roadmap. And as always, please contact us with any feedback or questions.</p>




            <h3>Improved UI & Workflows</h3>
            <div class="row same-height-row">
                <div class="col-md-6">
                    <div class="box-simple box-white same-height">
                        <div class="icon"><i class="fa fa-desktop"></i></div>
                        <h4>UI Redesign</h4>
                        <p>Replace existing user interface with a more mobile-friendly (progressive) UI using modern technologies and frameworks (ReactJS, Bootstrap, Material UI)</p>
                        <div class="label label-success">In-Progress</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box-simple box-white same-height">
                        <div class="icon"><i class="fa fa-barcode"></i></div>
                        <h4>Barcoding</h4>
                        <p>Workflows that incorporate barcoding to improve efficiency of receipt and putaway as well as requisition fulfillment and replenishment.</p>
                        <div class="label label-success">In-Progress</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box-simple box-white same-height">
                        <div class="icon"><i class="fa fa-mobile"></i></div>
                        <h4>Mobile</h4>
                        <p>Mobile app to improve usability for workers within the warehouse. Complete picking and
                            cycle count tasks from your mobile (React Native).</p>
                        <div class="label label-info">Prototyping</div>
                    </div>
                </div>
            </div>

            <h3>External Services & Integration</h3>
            <div class="row same-height-row">
                <div class="col-md-6">
                    <div class="box-simple box-white same-height">
                        <div class="icon"><i class="fa fa-send"></i></div>
                        <h4>Automated Alerts</h4>
                        <p>Connect with email and telelphony services to provide email and SMS notifications for stock alerts.</p>
                        <div class="label label-success">In-Progress</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box-simple box-white same-height">
                        <div class="icon"><i class="fa fa-calculator"></i></div>
                        <h4>Accounting</h4>
                        <p>Connect with third-party accounting and constituent relationship management (CRM) systems like QuickBooks, Salesforce</p>
                        <div class="label label-danger">Not Started</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box-simple box-white same-height">
                        <div class="icon"><i class="fa fa-tablet"></i></div>
                        <h4>Point-of-Service (POS)</h4>
                        <p>Connect with pharmacy point-of-service (POS) / electronic medical records (EMR) systems in order to close the consumption loop.</p>
                        <div class="label label-danger">Not Started</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box-simple box-white same-height">
                        <div class="icon"><i class="fa fa-cloud"></i></div>
                        <h4>IoT</h4>
                        <p>Integration with IoT devices like cold chain thermometers to record the temperature of cold-chain items in real-time</p>
                        <div class="label label-danger">Not Started</div>
                    </div>
                </div>
            </div>

            <h3>Features & Improvements</h3>
            <div class="row same-height-row">
                <div class="col-md-6">
                    <div class="box-simple box-white same-height">
                        <div class="icon"><i class="fa fa-tachometer"></i></div>
                        <h4>Reporting</h4>
                        <p>Advanced analytics to improve forecasting decisions.</p>
                        <div class="label label-success">In-Progress</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box-simple box-white same-height">
                        <div class="icon"><i class="fa fa-lock"></i></div>
                        <h4>Security</h4>
                        <p>Customizable permissions</p>
                        <div class="label label-warning">Planning</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box-simple box-white same-height">
                        <div class="icon"><i class="fa fa-list"></i></div>
                        <h4>Stocklists</h4>
                        <p>Revamped user-friendly stock list management functionality</p>
                        <div class="label label-danger">Not Started</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box-simple box-white same-height">
                        <div class="icon"><i class="fa fa-wrench"></i></div>
                        <h4>Assets</h4>
                        <p>Track fixed asset status, location, repairs, and warranties</p>
                        <div class="label label-danger">Not Started</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box-simple box-white">
                <h3>Roadmap</h3>
                <p class="text-justify">You can help us prioritize our feature backlog by suggesting new ideas and
                    voting on features that you'd like to see implemented in an upcoming version of OpenBoxes.</p>
                <div>

                <blockquote class="trello-board-compact">
                    <a href="https://trello.com/b/5RJMqUwa/openboxes-roadmap">OpenBoxes Roadmap</a>
                </blockquote>
                </div>

                <p>
                Or ask us about a particular feature in our
                <a href="https://discuss.openboxes.com">discussion forum.</a>
                </p>
            </div>
        </div>

    </div>

    <script src="https://p.trellocdn.com/embed.min.js"></script>

</div>