
<div class="container">
    <div class="row">
        <div class="col-md-8">

            <p class="text-large">Please read our blog entry <a href="/blog/2016/09/23/3/">The Road Ahead</a> to get more details about the items in the roadmap. And as always, please contact us with any feedback or questions.</p>

            <h3>Features & Improvements</h3>
            <div class="row">
                <div class="col-md-3">
                    <div class="box-simple box-white same-height">
                        <h4>Reporting</h4>
                        <p>Advanced analytics to provide real-time metrics to improve decision making related to forecasting and inventory efficiency</p>
                        <div class="label label-success">In-Progress</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box-simple box-white same-height">
                        <h4>Security</h4>
                        <p>Customizable permissions</p>
                        <div class="label label-warning">Planning</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box-simple box-white same-height">
                        <h4>Assets</h4>
                        <p>Track fixed asset status, location, repairs, and warranties</p>
                        <div class="label label-danger">ToDo</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box-simple box-white same-height">
                        <h4>Stocklists</h4>
                        <p>Revamped user-friendly stock list management functionality</p>
                        <div class="label label-danger">ToDo</div>
                    </div>
                </div>
            </div>


            <h3>Improved UI & Workflows</h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="box-simple box-white same-height">
                        <h4>Mobile</h4>
                        <p>Mobile app to improve usability for workers within the warehouse</p>
                        <div class="label label-warning">Planning</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box-simple box-white same-height">
                        <h4>Barcoding</h4>
                        <p>Workflows that incorporate barcoding to improve efficiency of receipt and putaway as well as requisition fulfillment and replenishment.</p>
                        <div class="label label-warning">Planning</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box-simple box-white same-height">
                        <h4>UI Redesign</h4>
                        <p>Replace existing user interface with a more mobile-friendly (progressive) UI using modern technologies and frameworks (i.e. ReactJS, VueJS, Bootstrap, Material UI, and others)</p>
                        <div class="label label-danger">ToDo</div>
                    </div>
                </div>
            </div>

            <h3>External Services & Integration</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="box-simple box-white same-height">
                        <h4>Automated Alerts</h4>
                        <p>Connect with email and telelphony services to provide email and SMS notifications for stock alerts and items requiring replenishment, as well as reminders to check stock levels based on user-defined schedules.</p>
                        <div class="label label-success">In-Progress</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box-simple box-white same-height">
                        <h4>Accounting</h4>
                        <p>Connect with third-party accounting and constituent relationship management (CRM) systems like QuickBooks, Salesforce</p>
                        <div class="label label-danger">Todo</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box-simple box-white same-height">
                        <h4>Point-of-Service (POS)</h4>
                        <p>Connect with pharmacy point-of-service (POS) / electronic medical records (EMR) systems in order to close the consumption loop at the prescription and drug administration level and to detect/prevent shrinkage due to theft, damage, and spillage</p>
                        <div class="label label-danger">Todo</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box-simple box-white same-height">
                        <h4>IoT</h4>
                        <p>Integration with IoT devices like cold chain thermometers to record the temperature of cold-chain items in real-time</p>
                        <div class="label label-danger">Todo</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box-simple box-white">
                <h3>Suggestions</h3>
                <p class="text-justify">You can help us prioritize our feature backlog by suggesting new ideas and
                    voting on features that you'd like to see implemented in an upcoming version of OpenBoxes.</p>
                <blockquote class="trello-board-compact">
                    <a href="https://trello.com/b/5RJMqUwa/openboxes-roadmap">OpenBoxes Roadmap</a>
                </blockquote>
            </div>
        </div>
    </div>
    <script src="https://p.trellocdn.com/embed.min.js"></script>
</div>