
<div class="container">
    <a name="community"></a>
    <div class="row">
        <div class="col-md-12">
            <div class="heading">
                <h3>Community</h3>
            </div>
            {{ partial "community.html" . }}
        </div>
    </div>
    <a name="professional"></a>
    <div class="row">
        <div class="col-md-12">
            <div class="heading">
                <h3>Professional</h3>
            </div>
            {{ partial "commercial.html" . }}
        </div>
    </div>
</div>

