{{ if isset .Site.Params "tutorials" }}
{{ if .Site.Params.tutorials.enable }}
{{ if gt (len .Site.Data.tutorials) 0 }}

<section class="bar background-white">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

            </div>

            <div class="col-md-10 col-md-offset-1"  id="blog-listing-medium">
                {{ range $index, $element := sort .Site.Data.tutorials "weight" }}
                    <section class="post">
                        <div class="row">
                            <div class="col-md-4">
                                <a class="btn video-btn" data-toggle="modal" data-src="{{ $element.url }}" data-target="#myModal">
                                    <img src="{{ $element.thumbnail }}" class="img img-responsive"/>
                                </a>
                            </div>
                            <div class="col-md-8">
                                <h3><i class="{{ .icon }}"></i> {{ $element.name }}</h3>
                                <div class="clearfix">
                                    <p class="author-category">
                                        By <a href="#">{{ $element.author }}</a>
                                    </p>
                                    <p class="date-comments">
                                        <i class="fa fa-calendar-o"></i> {{ dateFormat "Monday, Jan 2, 2006" $element.published }}
                                    </p>
                                </div>
                                <p class="intro">{{ $element.description | markdownify }}</p>
                                <p class="text-left">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary video-btn" data-toggle="modal" data-src="{{ $element.url }}" data-target="#myModal">
                                        Watch Video
                                    </button>


                                </p>
                            </div>
                        </div>
                    </section>
                {{ end }}
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <!-- 16:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always" allowfullscreen="allowfullscreen"
                            mozallowfullscreen="mozallowfullscreen"
                            msallowfullscreen="msallowfullscreen"
                            oallowfullscreen="oallowfullscreen"
                            webkitallowfullscreen="webkitallowfullscreen"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
{{ end }}
{{ end }}
