{{ if isset .Site.Params "tutorials" }}
{{ if .Site.Params.tutorials.enable }}
{{ if gt (len .Site.Data.tutorials) 0 }}

{{ $tutorials := slice }}
{{ range .Site.Data.tutorials }}
{{ $tutorials = $tutorials | append . }}
{{ end }}

{{ $categories := slice }}
{{ range .Site.Data.tutorials }}
{{ $categories = $categories | append .category }}
{{ end }}
{{ $categories = uniq $categories | sort }}


<section>
    <div class="container">

        <div class="row">
            <nav class="col-xs-3 bs-docs-sidebar">
                <ul id="sidebar" class="nav nav-stacked fixed">
                    {{ range $index, $element := sort $categories }}
                    <li><a href="#category-{{ $index }}">{{ . | safeHTML }}</a></li>
                    {{ end }}
                    <li>
                    </li>
                </ul>
            </nav>

            <div class="col-md-9">
                {{ range $index, $category := sort $categories }}
                    <section id="category-{{ $index }}" class="post">
                        <h3 class="with-border">{{ . }}</h3>
                        <div class="col-md-12" >
                            <div class="row d-flex align-items-stretch">
                            {{ range $index, $element := sort (where $tutorials "category" $category) "published" "desc"}}
                                <section class="post">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <a class="btn video-btn" data-toggle="modal" data-src="{{ $element.url }}" data-target="#myModal">
                                                <img src="{{ $element.thumbnail }}" class="img img-responsive"/>
                                            </a>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <h4><i class="{{ .icon }}"></i> {{ $element.name }}
                                                    </h4>
                                                    <p class="small">
                                                        By <a href="#">{{ $element.author }}</a>
                                                    </p>
                                                </div>
                                                <div class="col-md-4">
                                                    <div style="margin-top: 10px" class="text-right">
                                                        <p class="author-category">
                                                            <i class="fa fa-calendar-o"></i> {{ dateFormat "Monday, Jan 2, 2006" $element.published }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p class="intro">{{ $element.description | markdownify }}</p>
                                                    <p class="text-left">
                                                        <!-- Button trigger modal -->
                                                        <button type="button" class="btn btn-primary video-btn" data-toggle="modal" data-src="{{ $element.url }}" data-target="#myModal">
                                                            <i class="fa fa-external-link"></i>
                                                            {{ if $element.linkName }}
                                                                {{ $element.linkName }}
                                                            {{ else }}
                                                                Watch Video
                                                            {{ end }}
                                                        </button>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            {{ end }}
                            </div>
                        </div>
                    </section>
                {{ end }}

            </div>
        </div>

    </div>
</section>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <!-- 16:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always" allowfullscreen="allowfullscreen"
                            mozallowfullscreen="mozallowfullscreen"
                            msallowfullscreen="msallowfullscreen"
                            oallowfullscreen="oallowfullscreen"
                            webkitallowfullscreen="webkitallowfullscreen"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>


</body>

{{ end }}
{{ end }}
{{ end }}
