<section>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <div class="heading">
                <h3>Implementations & Partners</h3>
            </div>

            <p>OpenBoxes has been implemented in warehouses and hospitals in Cameroon, Haiti, Malawi, Liberia,
            and Sierra Leone, and has also been adapted for use by private sector healthcare and distribution companies in the United States.</p>


            <p>The following map shows all known implementations and implementation partners.</p>

            <p>Please contact us if you'd like to be included on the map as either an implementation or partner.</p>

            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1P2I-Hhp2FdwUvFVielvKqPiPeWTXxZFo" width="100%" height="600"></iframe>

        </div>
    </div>
</section>

<section class="bar background-gray-dark">

</section>