<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>
          {{ partial "nav.html" . }}
        </header>

        {{ partial "carousel.html" . }}

        {{ partial "benefits.html" . }}

        {{ if isset .Site.Params "ethicalads" }}
        {{ if .Site.Params.ethicalads.enable }}
        <section class="bar background-gray">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <div id="ethicalad-homepage" class="horizontal" data-ea-publisher="openboxescom" data-ea-type="text"></div>
                    </div>
                </div>
            </div>
        </section>
        {{ end }}
        {{ end }}

        {{ partial "recent_posts.html" . }}

        {{ partial "demo.html" . }}

        {{ partial "testimonials.html" . }}

        {{ partial "clients.html" . }}

        {{ partial "partners.html" . }}

        {{ partial "supporters.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
