<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>
          {{ partial "nav.html" . }}
        </header>

        {{ partial "carousel.html" . }}

        {{ partial "benefits.html" . }}

        {{ if isset .Site.Params "ethicalads" }}
        {{ if .Site.Params.ethicalads.enable }}
        <div class="container text-center" style="padding: 10px 0;">
            <div id="ethicalad-homepage" data-ea-publisher="openboxescom" data-ea-type="text"></div>
        </div>
        {{ end }}
        {{ end }}

        {{ partial "recent_posts.html" . }}

        {{ partial "demo.html" . }}

        {{ partial "testimonials.html" . }}

        {{ partial "clients.html" . }}

        {{ partial "partners.html" . }}

        {{ partial "supporters.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
